<div class="flex flex-auto h-full w-4/5">

    <form class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10  overflow-y-auto h-full" [formGroup]="taskForm">

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4 h-full">

            <!-- Title -->
            <div class="px-5 flex flex-auto ">
                <mat-form-field class="w-full">
                    <mat-label>Titulo</mat-label>
                    <input matInput [formControlName]="'title'" [spellcheck]="false" matTextareaAutosize #titleField>
                </mat-form-field>
            </div>

            <div class="flex items-center">
                <!-- Close button -->
                <a mat-icon-button [routerLink]="['../']">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </a>
            </div>

        </div>


        <ngx-editor-menu [editor]="editor" class="py-8" > </ngx-editor-menu>
        <ngx-editor [editor]="editor" [formControlName]="'notes'" > </ngx-editor>
        

    </form>

</div>