<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-form-field [style.display]="(isInvisible || isSectionInvisible) ? 'none': 'block'">
  <label *ngIf="errorMessage" class="items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{errorMessage}}</label>
  <mat-label>{{ structure.nombre | titlecase }} </mat-label>
  <input [id]="idField"
    matInput
    class="text-right"
    [name]="structure.llaveTabla"
    [formControl]="fControl"
    [required]="required"
    [readonly]="!isEnabled || !formIsEnabled"
    (focus)="getInitialFocus($event)"
    autocomplete="off"
  />
  
</mat-form-field>