<mat-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button
    *ngIf="layoutConf.sidebarStyle !== 'compact'"
    mat-icon-button
    id="sidenavToggle"
    (click)="toggleSidenav()"
    matTooltip="Toggle Hide/Open"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span fxFlex></span>
  <app-search-input-over></app-search-input-over>
  <!-- Open "views/search-view/result-page.component" to understand how to subscribe to input field value -->

  <!-- Full administrator -->
  <button
    mat-icon-button
    [style.overflow]="'visible'"
    class="topbar-button-right"
    (click)="getFullTemplates()"
    *ngIf="jwtAuth.isAdmin"
  >
    <mat-icon>developer_board</mat-icon>
  </button>
  <button
    mat-icon-button
    class="topbar-button-right"
  >
    <mat-icon>bookmark_border</mat-icon>
  </button>
  
  <!-- Notification toggle button -->
  <button
    mat-icon-button
    matTooltip="Notifications"
    (click)="toggleNotific()"
    [style.overflow]="'visible'"
    class="topbar-button-right"
  >
    <mat-icon>inbox</mat-icon>
    <span class="notification-number mat-bg-warn"
      >{{notificationService.notifications?.length}}</span
    >
  </button>
  <!-- <button
    mat-icon-button
    matTooltip="Indicadores"
    (click)="toggleIndicadores()"
    [style.overflow]="'visible'"
    class="topbar-button-right"
  >
    <mat-icon>timeline</mat-icon>
  </button> -->

  <!-- Top left user menu -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="accountMenu"
    class="topbar-button-right img-button"
  >
    <img [src]="jwtAuth?.user?.imagen" alt="" />
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="changePicture()">
      <mat-icon>add_a_photo</mat-icon>
      <span>Cambiar Imagen</span>
    </button>
    <button mat-menu-item (click)="changePwd()">
      <mat-icon>vpn_lock</mat-icon>
      <span>Cambiar clave</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>
