<div fxLayout="row wrap">
  <div
    fxFlex.gt-sm="25"
    fxFlex.sm="50"
    fxFlex="100"
    *ngFor="let ind of indicadores"
  >
    <mat-card class="p-0 card-render">
      <mat-card-title class="mb-0">
        <div class="card-title-text p-8">
          <div class="crop-text" fxFlex>{{ ind.nombre }}</div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
              <mat-icon >refresh</mat-icon>
              <span>Actualizar</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-title>
      <mat-card-content class="p-0">
        <div class="text-36 font-weight-bold full-width text-center">
          {{ ind.valorDia | number }}
        </div>
        <div class="series-horizontal">
          <ul>
            <li>
              <span>{{ ind.valorDia | number }}</span
              >1D
            </li>
            <li>
              <span>{{ ind.valorMes | number }}</span
              >1M
            </li>
            <li>
              <span>{{ ind.valorYear | number }}</span
              >1Y
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--
  <div fxFlex.gt-sm="25"
  fxFlex.sm="50"
  fxFlex="100">
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Horizontal Bar chart</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <canvas
          baseChart
          class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        ></canvas> 
      </mat-card-content>
    </mat-card>
  </div>
<div fxFlex.gt-sm="25"
  fxFlex.sm="50"
  fxFlex="100">
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Horizontal Bar chart</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <canvas  
          baseChart 
          class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartHorizontalOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartHorizontalType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25"
  fxFlex.sm="50"
  fxFlex="100">
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">Stacked Bar chart</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <canvas  
          baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartStackedOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.sm="50" fxFlex="100">
    <mat-card>
      <mat-card-title class="p-0">
        <div class="card-title-text">Basic Line chart</div>
      </mat-card-title>
      <mat-card-content class="p-0">
        <canvas
          baseChart
          class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="chartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        ></canvas>
      </mat-card-content>
      <mat-card-footer class="p-0">
        <div class="series-horizontal">
          <ul>
            <li><span>5000000</span>1D</li>
            <li><span>560000</span>1M</li>
            <li><span>34534</span>1Y</li>
          </ul>
        </div>
      </mat-card-footer>
    </mat-card>
  </div> -->
</div>
