<div class="flex flex-col">
  <div class="flex p-2">
    <div class="w-full font-semibold">
      <span>{{ detallePedidoVenta.nombre }}</span>
    </div>
    <mat-icon class="h-6" (click)="dialogRef.close(true)">exit_to_app</mat-icon>
  </div>
  <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
  <!-- Campos dinamicos -->
  <div class="w-full p-4">
    <ng-template #dynamycFormElement></ng-template>
  </div>
  <!-- Boton de guardar -->
  
    <div *ngIf="this.allowEdit" class="p-4 w-full flex justify-between">
      <button mat-raised-button color="primary" (click)="dialogRef.close(false)">
        <mat-icon>clear</mat-icon> Borrar registro
      </button>
      <button mat-raised-button color="primary" (click)="closeWithValidation()">
        <mat-icon>save</mat-icon> Aceptar
      </button>
    </div>
</div>