<!-- Navigation -->
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden" [mode]="isScreenSmall ? 'over' : 'side'"
  [name]="'mainNavigation'" [navigation]="navigation?.default"
  [opened]="!isScreenSmall && user">
  <!-- Navigation header hook -->
  <ng-container fuseVerticalNavigationContentHeader>
    <!-- App Logo -->
    <a [routerLink]="'/main'">
      <div class="flex flex-col w-full items-center h-16 p-1">
        <img *ngIf="company?.imagen" src="{{ company?.imagen | imageFormat }}" class="h-full" />
      </div>
    </a>
    <div class="flex flex-col items-center w-full p-1">
      <h2 class="text-center">{{ company?.nombre }}</h2>
      <span class="text-center">{{ company?.slogan }}</span>
      <div class="flex flex-col items-center justify-center w-full">
        <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
          {{ user?.nombre }}
        </div>
        <div class="relative w-24 h-24">
          <img class="w-full h-full rounded-full" *ngIf="user?.imagen" [src]="user.imagen" alt="User avatar" />
          <mat-icon class="icon-size-24" *ngIf="!user?.imagen" [svgIcon]="'heroicons_outline:user-circle'">
          </mat-icon>
        </div>
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium text-secondary">
          <mat-icon svgIcon="heroicons_outline:identification" class="icon-size-4"></mat-icon>
          {{ user?.identificacion }}
        </div>
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
          {{ user?.correo }}
        </div>
        <span class="text-xs">{{ time | date : "medium" }}</span>
        <span class="text-xs">{{ currentApplicationVersion }}</span>
      </div>
    </div>
  </ng-container>
  <!-- Navigation footer hook -->
  <ng-container fuseVerticalNavigationContentFooter>
    <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12"></div>
  </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <!-- Header -->
  <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <app-home-button ></app-home-button>
      <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
      <search  [appearance]="'bar'"></search>
      <app-search-pop-button ></app-search-pop-button>
      <shortcuts ></shortcuts>
      <notifications ></notifications>
      <user></user>
    </div>
  </div>

  <div *ngIf="headerSection && headerSection.length!==0" class="w-full">
    <div *ngFor="let iHeader of headerSection" [innerHTML]="iHeader"></div>
  </div>
  <!-- Content -->
  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
    <router-outlet *ngIf="true"></router-outlet>
  </div>
  <!-- footer -->
  <div *ngIf="landing && landing.length!==0" class="w-full">
    <div *ngFor="let iFooter of landing" [innerHTML]="iFooter" class="w-full"></div>
  </div>
</div>