<!-- Notifications toggle -->
<button mat-icon-button (click)="openPanel()" #notificationsOrigin>
    <ng-container *ngIf="unreadCount > 0">
        <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span
                class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-teal-600 text-indigo-50 text-xs font-medium">
                {{unreadCount}}
            </span>
        </span>
    </ng-container>
    <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>

    <div
        class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Notifications</div>
            <div class="ml-auto">
                <button mat-icon-button [matTooltip]="'Mark all as read'" [disabled]="unreadCount === 0"
                    (click)="markAllAsRead()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:mail-open'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Notifications -->
            <ng-container *ngFor="let notification of notifications; trackBy: trackByFn">
                <div class="group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5 m-2"
                    [ngClass]="{'unread': !notification.fechaLeido}">

                    <!-- Header -->
                    <div class="flex rounded" [style.backgroundColor]="getColor(notification.documentoDTO.estadoExpediente)">
                        <a class="w-full cursor-pointer" (click)="openDocument(notification)">
                            <div class="flex">
                                <div class="pt-2 pl-2">
                                    <img [src]="notification.documentoDTO.imagen" class="w-10 h-10 max-w-none" />
                                </div>
                                <div class="w-full px-2">
                                    <div class="flex font-semibold">
                                        <span class="w-full">{{ notification.documentoDTO.nombre }}</span>
                                        <span >{{ notification.documentoDTO.estadoNombre }}</span>
                                    </div>
                                    <div *ngIf="notification.fechaRegistro" class="flex w-full px-1 text-xs">
                                        <mat-icon class="icon-size-3" svgIcon="mat_solid:check"></mat-icon>
                                        <div>Asignado</div>
                                        <div class="w-full text-right">{{ notification.fechaRegistro | date :'medium' }}</div>
                                    </div>
                                    <div *ngIf="notification.fechaLeido" class="flex w-full px-1 text-xs">
                                        <mat-icon class="icon-size-3" svgIcon="mat_solid:spellcheck"></mat-icon>
                                        <div>Leido</div>
                                        <div class="w-full text-right" >{{ notification.fechaLeido | date :'medium' }}</div>
                                    </div>
                                    <div *ngIf="notification.fechaArrancar" class="flex w-full px-1 text-xs">
                                        <mat-icon class="icon-size-3" svgIcon="mat_solid:spellcheck"></mat-icon>
                                        <small > Inicia el :</small>
                                        <small class="w-full text-right">{{ notification.fechaArrancar | date :'medium' }}</small>
                                    </div>
                                    <div *ngIf="notification.fechaLimite" class="flex w-full px-1 text-xs">
                                        <mat-icon class="icon-size-3" svgIcon="mat_solid:spellcheck"></mat-icon>
                                        <small > Maximo hasta :</small>
                                        <small class="w-full text-right">{{ notification.fechaLimite | date :'medium' }}</small>
                                    </div>
                                    <div *ngIf="notification.documentoDTO.dinero">
                                        <span >{{ notification.documentoDTO.dinero.valorCampo | number }}</span>
                                        <span class="w-full text-right">{{ notification.documentoDTO.dinero.valorTotal | number }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-1">
                        <div class="text-xs text-justify line-clamp-4">{{ notification.documentoDTO.descripcion }}</div>
                        <div class="w-full ml-4" *ngIf="
                            notification.documentoDTO.caracteristicas &&
                            notification.documentoDTO.caracteristicas.length !== 0
                          ">
                            <div class="flex text-secondary text-xs"
                                *ngFor="let f of notification.documentoDTO.caracteristicas">
                                <div class="font-semibold">{{ f.campoDTO.nombre }}</div>
                                <div class="w-full pl-1 line-clamp-1" *ngIf="!f.valorText.startsWith('http')">{{ f.valorText }}</div>
                                <img *ngIf="f.valorText.startsWith('http')" [src]="f.valorText" [name]="f.valorText" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- No notifications -->
            <ng-container *ngIf="!notifications || !notifications.length">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon class="text-primary-500-700" [svgIcon]="'heroicons_outline:bell'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">No notifications</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">When you have notifications,
                        they will appear here.</div>
                </div>
            </ng-container>

        </div>

    </div>

</ng-template>