<div class="p-0.5">
  <a (click)="showTemplate()">
    <div class="flex">
      <img class="w-10 h-10 mr-4 rounded object-cover" alt="..." src="{{ imagen | imageFormat }}">
      <div class="min-w-0">
        <div class="font-medium leading-none">{{ nombre }}</div>
         <!--
          <div class="text-md truncate leading-none mt-1">Best cafe of the downtown New York</div>
        
        <div class="text-md leading-none text-secondary mt-2">{{ type }}</div>
        -->
    </div>
    </div>
  </a>
</div>
    



                        