<!-- Titulo -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle *ngIf="plantilla"
  class="p-4 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent flex">
  <img src="{{ plantilla?.imagen | imageFormat }}" alt="" class="pr-1 max-h-12 h-fit" />
  <!-- Texto del titulo -->
  <div class="w-full">
    <small class="w-full font-semibold">{{documentState}}</small>
    <div>
      <span class="flex font-semibold">
        <span>{{ plantilla.nombre }}</span>
        <span> - {{ documentName }}</span>
      </span>
    </div>
  </div>
  <!-- Botones de accion -->
  <div class="flex">
    <!-- Boton Cerrar -->
    <a class="cursor-pointer px-1" (click)="dialogRef.close(false)">
      <mat-icon class="h-6">exit_to_app</mat-icon>
    </a>
  </div>
</div>
<!-- Filtros de la trazabilidad -->
<div class="w-full flex p-2">


<button  (click)="toggleDropdown()"
  class="w-full  ring-1 focus:outline-none ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:ring-blue-800" type="button">
  {{textDropDown}}
</button>



<!-- Dropdown menu -->
<div *ngIf="dropdownOpen" id="dropdownBgHover" class="absolute z-10 w-48 -mt-18 bg-white rounded-lg shadow-sm dark:bg-gray-700">
    <ul class="p-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownBgHoverButton">
      <li *ngFor="let opt of optionsTrace">
        <div class="flex items-center p-1 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
          <input [id]="'checkbox-item-'+opt.value" type="checkbox" class="w-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
            [value]="opt.value" (change)="onCheckboxChange($event)" [checked]="selectedTrace.value.includes(opt.value)">
          <label [for]="'checkbox-item-'+opt.value" class="w-full ms-2 text-sm font-medium text-gray-900 rounded-sm dark:text-gray-300">{{ opt.viewValue }}</label>
        </div>
      </li>
    </ul>
</div>




  <button mat-raise-button class="px-2" (click)="listar(1)">
    <mat-icon svgIcon="heroicons_outline:clock"></mat-icon>
  </button>
</div>

<!-- Lista de la trazabilidad -->
<div class="bg-sky-100 dark:bg-transparent flex flex-col max-h-[70vh]">
  <div class="overflow-x-hidden py-4 pr-4 pl-7">

    <div *ngIf="state!=='I'">
      <div *ngFor="let item of vouchersTemplate"
        class="sm:col-span-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">

        <div class="text-lg font-medium tracking-tight leading-6 truncate">
          {{item.texto |uppercase}}</div>

        <button class="w-full m-1" mat-flat-button [color]="'accent'" (click)="showVoucherAccount(item)"
          [disabled]="isLoading">
          <mat-icon>refresh</mat-icon>
          <span>Consultar comprobante</span>
        </button>
        <button *ngIf="item.estado==='CONSULTADO'" class="w-full m-1" mat-flat-button [color]="'accent'"
          (click)="generateVoucher(item.valor)" [disabled]="isLoading">
          <mat-icon>add</mat-icon>
          <span>Crear comprobante</span>
        </button>
      </div>
    </div>

    <ol>
      <!-- Activities -->
      <ng-container *ngFor="let g of dataProvider">
        <!-- Activity -->
        <li class="relative flex py-1">
          <div class="absolute left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600"></div>

          <div class="relative flex flex-auto">
            <!-- Image -->
            <ng-container>

              <div class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400"
                *ngIf="!g.responsableImagen">
                <mat-icon class="icon-size-5 text-white" svgIcon="heroicons_outline:user">
                </mat-icon>
              </div>
              <img class="shrink-0 w-10 h-10 mr-4 rounded-full overflow-hidden object-cover object-center"
                [src]="g.responsableImagen" [alt]="'Activity image'" *ngIf="g.responsableImagen">


            </ng-container>

            <!-- Content -->
            <div class="flex flex-col flex-auto items-start">

              <!-- Description -->
              <ng-container>

                <!-- Primera linea:quien y cuando -->
                <div class="w-full">
                  <small>{{ getDateFormat(g.fecha) }}</small>
                </div>
                <div class="w-full text-sm">
                  <b>{{ g.responsable }}</b> realizo la accion de <b>{{ g.nombre }}</b> <a
                    *ngIf="g.transaccion && !g.campos" (click)="showTraceField2Document(g)"><mat-icon
                      inline="true">view_headline</mat-icon></a>
                  <span *ngIf="g.documentoModificador"> con el documento <a
                      class="cursor-pointer text-primary font-bold tracking-tight text-sm text-right"
                      (click)="showTraceDocument(g.documentoModificador, g.plantilla)"><span>{{ g.plantillaNombre }} -
                        {{
                        g.modificadorNombre }}</span></a> </span>
                  <span *ngIf="g.estadoInicial">, inicialmente estaba el documento en estado <b>{{ g.estadoInicial
                      }}</b>
                  </span><span *ngIf="g.estadoFinal">, finalizo en estado <b>{{ g.estadoFinal}}</b></span>
                  <span *ngIf="g.ubicacionNombre">, fue asignado al {{ g.ubicacionPlantilla }} <b>{{ g.ubicacionNombre
                      }}</b></span>
                  <span *ngIf="g.total">, contaba con un Saldo de {{ g.saldo | currency }} y un Valor Total de <b>{{
                      g.total | currency }}</b>
                  </span>
                </div>
                <!-- Cuarta linea : comentario -->
                <div *ngIf="g.comentario" class="mt-1 py-2 px-2 rounded-lg bg-gray-200 dark:bg-gray-800">
                  <div class="text-sm line-clamp-3">{{g.comentario }}
                  </div>
                </div>
                <!-- Quinta linea dinero -->
                <div class="w-full flex justify-between" *ngIf="g.total">
                  <small>Saldo : {{ g.saldo | currency }}</small>
                  <b> Valor Total : {{ g.total | currency }}</b>
                </div>
                <!-- Sexta linea Adjuntos -->
                <div *ngIf="g.adjunto" class="w-full">
                  <div *ngFor="let iUrl of g.adjunto.split(';;'); let i = index">
                    <a [href]="iUrl" target="_blank" class="cursor-pointer text-primary text-sm"> Enlace # {{i + 1
                      }}</a>
                  </div>
                </div>
                <!-- Septima linea Campos nuevos -->
                <div class="w-full" *ngIf="g.campos">
                  <div *ngFor="let iCampoOriginal of g.campos">
                    <b class="text-xs">{{ iCampoOriginal.campo }} :</b><small> {{ iCampoOriginal.valorText }}</small>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </li>
      </ng-container>
    </ol>
    <button mat-flat-button (click)="listar(pagina)" *ngIf="!isEnd">
      <mat-icon svgIcon="heroicons_outline:clock"></mat-icon> Seguir consultando
    </button>
  </div>

</div>