<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 bg-slate-900">
  <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <!-- Logo -->
      <div class="w-12">
        <!--img src="assets/images/logo/logo.svg"-->
        <img class="m-auto" src="assets/images/password_secure.png" alt="">
      </div>

      <!-- Title -->
      <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Olvidaste tu contraseña?</div>
      <div class="mt-0.5 font-medium">Llena el siguiente formulario para recibir instrucciones en tu correo</div>

      @if (errorMsg) {
        <p class="text-center"><small class="text-red">{{errorMsg}}</small></p>
      }


      <!-- Forgot password form -->
      <form class="mt-8" [formGroup]="recoverForm" #forgotPasswordNgForm="ngForm">

        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Numero de identificación</mat-label>
          <input id="identificacion" matInput [formControlName]="'identificacion'">
          @if (recoverForm.controls['identificacion'].hasError('required') && recoverForm.controls['identificacion'].touched) {
            <small
              class="form-error-msg"> La identificacion es necesaria para enviarte las instrucciones de
            recuperación </small>
          }
        </mat-form-field>


        <mat-form-field>
          <mat-label>Correo electronico</mat-label>
          <input name="correo" matInput [formControl]="recoverForm.controls['correo']"
            placeholder="Correo electronico">
            @if (recoverForm.controls['correo'].hasError('required') && recoverForm.controls['correo'].touched) {
              <small
                class="form-error-msg"> El correo electronico nos ayuda a proteger tu información, por favor
              coloca el que registraste </small>
            }
          </mat-form-field>

          <!-- Submit button -->
          <button class="w-full mt-3" mat-flat-button [color]="'primary'"
            [disabled]="recoverForm.invalid" (click)="signin()">
            Enviar al correo las nuevas instrucciones

          </button>

          <!-- Form footer -->
          <div class="mt-8 text-md font-medium text-secondary">
            <span>Regresar </span>
            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">a la pantalla principal
              de ingreso
            </a>
          </div>

        </form>
        <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
      </div>
    </div>
  </div>