<!-- Sidenav container -->
<mat-sidenav-container class="h-screen w-full overflow-hidden print:hidden">

    <!-- Navigation -->
    <mat-sidenav class="dark bg-gray-900 w-80" [mode]="isScreenSmall ? 'over' : 'side'" [(opened)]="sidenavOpened">
        <div class="flex h-full flex-col overflow-hidden">

            <!-- Logo -->
            <div class="flex items-center justify-center h-20">
                @if (company?.imagen) {
                    <img class="w-full px-2" src="{{ company.imagen | imageFormat }}" alt="Logo image" />
                }
            </div>

            <!-- Navigation items -->
            <simple-nav [items]="navigation.default" (navigate)="closeNavOnSmall()"></simple-nav>

            <!-- Navigation footer -->
            <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12"></div>
        </div>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <div class="flex flex-col flex-auto w-full min-w-0 h-full">

            <!-- Header -->
            <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow bg-transparent">
                <div class="flex items-center pr-2 space-x-2">
                    <!-- Navigation toggle button -->
                    <button class="btn-icon" (click)="toggleNavigation()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button>
                </div>
                <!-- Components -->
                <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                    
                    
                    <shortcuts></shortcuts>
                    <notifications></notifications>
                    <user></user>
                </div>
            </div>

            @if (headerSection && headerSection.length !== 0) {
                <div class="w-full">
                    @for (iHeader of headerSection; track iHeader) {
                        <div [innerHTML]="iHeader"></div>
                    }
                </div>
            }

            <!-- Content -->
            <div class="flex flex-col flex-auto min-h-0">
                <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                Otherwise, layout changes won't be registered and the view won't be updated! -->
                @if (true) {
                    <router-outlet></router-outlet>
                }
            </div>

            <!-- Footer -->
            @if (landing && landing.length !== 0) {
                <div class="w-full">
                    @for (iFooter of landing; track iFooter) {
                        <div [innerHTML]="iFooter" class="w-full"></div>
                    }
                </div>
            }
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
