<div class="flex flex-auto justify-center w-full sm:p-4 md:p-8 bg-gray-200 dark:bg-card">

  <!-- Navigation -->
  <ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation class="dark bg-gray-900 print:hidden" [mode]="'over'" [name]="'mainNavigation'"
      [navigation]="navigation?.default" [opened]="!isScreenSmall && user">
      <!-- Navigation header hook -->
      <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center justify-center h-28 pt-5 pb-5 px-8">
          <img *ngIf="company?.imagen" class="h-16 w-auto max-w-xs object-contain px-2"
            src="{{ company?.imagen | imageFormat }}" alt="Logo image" />
        </div>
      </ng-container>
    </fuse-vertical-navigation>
  </ng-container>

  <!-- Wrapper -->
  <div
    class="flex flex-col items-center flex-auto min-w-0 max-w-360 sm:rounded-xl shadow-2xl dark:shadow-none overflow-hidden">

    <!-- Header -->
    <div
      class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 bg-card border-b dark:bg-default print:hidden">
      <ng-container *ngIf="!isScreenSmall">
        <!-- Logo -->
        <div class="flex items-center mx-2 lg:mr-8">
          <div class="hidden lg:flex">
            <img *ngIf="company?.imagen" class="h-12 w-auto max-w-xs object-contain px-2"
              src="{{ company?.imagen | imageFormat }}" alt="Logo image" />
          </div>
        </div>

        <!-- Horizontal navigation -->
        <fuse-horizontal-navigation class="mr-2" [name]="'mainNavigation'"
          [navigation]="navigation?.horizontal"></fuse-horizontal-navigation>
      </ng-container>
      <!-- Navigation toggle button -->
      <ng-container *ngIf="isScreenSmall">
        <button class="mr-2" mat-icon-button (click)="toggleNavigation('mainNavigation')">
          <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
      </ng-container>
      <!-- Components -->
      <div class="flex items-center pl-2 ml-auto space-x-1 sm:space-x-2">
        <app-home-button></app-home-button>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <notifications></notifications>
        <user></user>
      </div>
    </div>

    <div *ngIf="headerSection && headerSection.length!==0" class="w-full">
      <div *ngFor="let iHeader of headerSection" [innerHTML]="iHeader"></div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full bg-default">
      <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
        Otherwise, layout changes won't be registered and the view won't be updated! -->
      <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- footer -->
    <div *ngIf="landing && landing.length!==0" class="w-full">
      <div *ngFor="let iFooter of landing" [innerHTML]="iFooter" class="w-full"></div>
    </div>

  </div>

</div>
