<div class="sidebar-panel">
  <div id="scroll-area" class="navigation-hold" fxLayout="column" >
    <div class="sidebar-hold">
      <!-- App Logo -->
      <div class="branding" fxLayout="column">
        <img *ngIf="jwtAuth && jwtAuth.company" src="{{ jwtAuth?.company?.imagen | imageFormat }}" alt="" class="app-logo" />
      </div>
      <!-- Sidebar user -->
      <div class="app-user">
        <span class="app-logo-text">{{ jwtAuth?.company.nombre }}</span>
        <p class="text-muted m-0">{{ jwtAuth?.company.slogan }}</p>
        <p class="text-muted m-0">{{ time | date: 'medium' }}</p>
        <p class="text-muted m-0">{{currentApplicationVersion}}</p>
        <div class="app-user-photo">
          <img src="{{ jwtAuth?.user?.imagen | imageFormat }}" class="mat-elevation-z1" alt="" />
        </div>
        <span class="app-user-name mb-05">
          <mat-icon class="icon-xs text-muted">lock</mat-icon>
          {{ jwtAuth?.user?.nombre }}
        </span>
        <span class="app-user-name mb-05">
          <mat-icon class="icon-xs text-muted">face</mat-icon>
          {{ jwtAuth?.user?.identificacion }}
        </span>
        <button 
                class="text-muted"
                mat-icon-button 
                mat-xs-button
                matTooltip="Sign Out"
                (click)="logOut()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
      </div>
      <!-- Navigation -->
      <app-sidenav
        [menuItems]="menuItems"
        [hasIconTypeMenuItem]="hasIconTypeMenuItem"
        [iconTypeMenuTitle]="iconTypeMenuTitle" ></app-sidenav>
    </div>
  </div>
</div>
