<!-- Navigation -->
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden" [mode]="isScreenSmall ? 'over' : 'side'"
  [name]="'mainNavigation'" [navigation]="$safeNavigationMigration(navigation?.default)" [opened]="!isScreenSmall">
  <!-- Navigation header hook -->
  <ng-container fuseVerticalNavigationContentHeader>

    <a [routerLink]="'/main'">
      <div class="flex flex-col w-full items-center h-16 p-1">
        @if (company?.imagen) {
          <img src="{{ $safeNavigationMigration(company?.imagen) | imageFormat }}" class="h-full" />
        }
      </div>
    </a>

    <div class="flex flex-col items-center w-full p-1">
      <h2 class="text-center">{{ company?.nombre }}</h2>
      <span class="text-center">{{ company?.slogan }}</span>
      <div class="flex flex-col items-center justify-center w-full">
        <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
          {{ user?.nombre }}
        </div>
        <div class="relative w-24 h-24">
          @if (user?.imagen) {
            <img class="w-full h-full rounded-full" [src]="user.imagen" alt="User avatar" />
          }
          @if (!user?.imagen) {
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:user-circle'">
            </mat-icon>
          }
        </div>
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium text-secondary">
          <mat-icon svgIcon="heroicons_outline:identification" class="icon-size-4"></mat-icon>
          {{ user?.identificacion }}
        </div>
        <div
          class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
          {{ user?.correo }}
        </div>
        <span class="text-xs">{{ time() | date : "medium" }}</span>
        <span class="text-xs">{{ currentApplicationVersion }}</span>
      </div>
    </div>
  </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <app-home-button></app-home-button>
      <search [appearance]="'bar'"></search>
      <shortcuts></shortcuts>
      <notifications></notifications>
      <user></user>
    </div>
  </div>

  @if (headerSection && headerSection.length!==0) {
    <div class="w-full">
      @for (iHeader of headerSection; track iHeader) {
        <div [innerHTML]="iHeader"></div>
      }
    </div>
  }

  <!-- Content -->
  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
    Otherwise, layout changes won't be registered and the view won't be updated! -->
    @if (true) {
      <router-outlet></router-outlet>
    }
  </div>
  <!-- footer -->
  @if (landing && landing.length!==0) {
    <div class="w-full">
      @for (iFooter of landing; track iFooter) {
        <div [innerHTML]="iFooter" class="w-full"></div>
      }
    </div>
  }

</div>
