<!-- Sidenav container -->
<mat-sidenav-container class="h-screen w-full overflow-hidden print:hidden">

    <!-- Navigation -->
    <mat-sidenav class="dark bg-gray-900 w-80" [mode]="isScreenSmall() ? 'over' : 'side'" [(opened)]="sidenavOpened">
        <div class="flex h-full flex-col overflow-hidden">

            <!-- App Logo -->
            <a [routerLink]="'/main'" class="flex items-center justify-center h-16 p-1" (click)="closeNavOnSmall()">
                @if (company?.imagen) {
                    <img src="{{ company.imagen | imageFormat }}" class="h-full" />
                }
            </a>

            <!-- Company & user info -->
            <div class="flex flex-col items-center w-full p-1">
                <h2 class="text-center text-white">{{ company?.nombre }}</h2>
                <span class="text-center text-white/70">{{ company?.slogan }}</span>
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium text-white">
                        {{ user?.nombre }}
                    </div>
                    <div class="relative w-24 h-24">
                        @if (user?.imagen) {
                            <img class="w-full h-full rounded-full" [src]="user.imagen" alt="User avatar" />
                        }
                        @if (!user?.imagen) {
                            <mat-icon class="icon-size-24 text-white/70" [svgIcon]="'heroicons_outline:user-circle'">
                            </mat-icon>
                        }
                    </div>
                    <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium text-white/70">
                        <mat-icon svgIcon="heroicons_outline:identification" class="icon-size-4"></mat-icon>
                        {{ user?.identificacion }}
                    </div>
                    <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-white/70">
                        {{ user?.correo }}
                    </div>
                    <span class="text-xs text-white/50">{{ time() | date : "medium" }}</span>
                    <span class="text-xs text-white/50">{{ currentApplicationVersion }}</span>
                </div>
            </div>

            <!-- Navigation items -->
            <simple-nav [items]="navigation.default" (navigate)="closeNavOnSmall()"></simple-nav>

            <!-- Navigation footer -->
            <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12"></div>
        </div>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <div class="flex flex-col flex-auto w-full min-w-0 h-full">
            <!-- Header -->
            <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow bg-transparent">
                <!-- Navigation toggle button -->
                <button class="btn-icon" (click)="toggleNavigation()">
                    <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                </button>
                <!-- Components -->
                <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
                    
                    
                    <shortcuts></shortcuts>
                    <notifications></notifications>
                    <user></user>
                </div>
            </div>

            @if (headerSection && headerSection.length !== 0) {
                <div class="w-full">
                    @for (iHeader of headerSection; track iHeader) {
                        <div [innerHTML]="iHeader"></div>
                    }
                </div>
            }

            <!-- Content -->
            <div class="flex flex-col flex-auto min-h-0">
                <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
                Otherwise, layout changes won't be registered and the view won't be updated! -->
                @if (true) {
                    <router-outlet></router-outlet>
                }
            </div>

            <!-- Footer -->
            @if (landing && landing.length !== 0) {
                <div class="w-full">
                    @for (iFooter of landing; track iFooter) {
                        <div [innerHTML]="iFooter" class="w-full"></div>
                    }
                </div>
            }
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
