<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen ">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Comprobante contable Manual  {{codigoComprobante}}</div>
    @if (reportes.length > 0) {
      <button class="btn-icon" (click)="printReport()" [tabIndex]="-1">
        <mat-icon class="text-current" svgIcon="heroicons_outline:printer"></mat-icon>
      </button>
    }
    @if (data.key) {
      <button class="btn-icon" (click)="deleteVouchers(data)" [tabIndex]="-1">
        <mat-icon class="text-current" svgIcon="heroicons_outline:trash"></mat-icon>
      </button>
    }
    <button class="btn-icon" (click)="matDialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current" svgIcon="heroicons_outline:x-circle"></mat-icon>
    </button>
  </div>
  @if (!loading) {
    <form class="p-6 sm:p-8" [formGroup]="form">
      <div [formGroupName]="'header'" class="w-full">
        <div class="sm:flex sm:justify-between w-full sm:gap-2">
          <mat-form-field>
            <mat-label>Catalogo</mat-label>
            <input matInput disabled="true" [value]="accountingService.currentCatalog.name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input matInput disabled="true" [value]="accountingService.currentCatalog.name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="pickerFrom" [formControlName]="'factDate'" required="true" />
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hora</mat-label>
            <input matInput type="time" required="true" [formControl]="timeFrom" />
          </mat-form-field>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Concepto</mat-label>
          <textarea matInput [formControlName]="'concept'"></textarea>
        </mat-form-field>
      </div>
      <div class="w-full flex text-primary text-xs uppercase font-bold px-2">
        <h2 class="w-full">Asientos contables</h2>
        <div class="py-2 flex"><label><input class="p-0.5 mx-1" type="checkbox" [(ngModel)]="referencesActive" [ngModelOptions]="{standalone: true}" /> Auxiliares</label></div>
      </div>
      <div class="w-full p-1  max-h-[35vh] overflow-scroll">
        <div formArrayName="records" >
          @for (r of recordsArray.controls; track r; let i = $index) {
            <div [formGroupName]="i">
              <div formArrayName="line">
                <div class="w-full sm:flex gap-1">
                  <div class="w-full sm:w-1/2 ">
                    <mat-form-field class="w-full">
                      <mat-label>Cuenta {{ i + 1 }}</mat-label>
                      <input matInput formControlName="accountDTO" id="{{'account'+i}}"
                        [matAutocomplete]="auto" />
                      </mat-form-field>
                    </div>
                    <div class="flex justify-between w-full sm:w-1/2 gap-1">
                      <mat-form-field>
                        <mat-label>Débito</mat-label>
                        <input matInput formControlName="positive" placeholder="Debito"
                          id="{{'debit'+i}}"
                          />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Crédito</mat-label>
                          <input matInput formControlName="negative" placeholder="Credito"
                            id="{{'credit'+i}}"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="w-full sm:w-1/2"  [style.display]="(referencesActive) ? 'block':'none'">
                        <mat-form-field class="w-full">
                          <mat-label>Notas</mat-label>
                          <textarea matInput formControlName="note" id="{{'note'+i}}"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div formArrayName="references" class="w-full gap-1 justify-end"  [style.display]="(referencesActive) ? 'block':'none'">
                      @for (f of auxiliares(i).controls ; track f; let j = $index) {
                        <div [formGroupName]="j" class="w-full sm:w-1/2 ">
                          <div class="flex justify-between w-full gap-1">
                            <mat-form-field class="w-full">
                              <mat-label>{{f.get('auxiliarType')?.value}} CODIGO</mat-label>
                              <input matInput formControlName="auxiliarCode" id="{{'auxiliarCode'+i+j}}" />
                            </mat-form-field>
                            <mat-form-field class="w-full">
                              <mat-label>{{f.get('auxiliarType')?.value}} NOMBRE</mat-label>
                              <input matInput formControlName="auxiliarName" id="{{'auxiliarName'+i+j}}" />
                            </mat-form-field>
                          </div>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
            <!-- Divider -->
            <div class="w-full my-3 border-b"></div>
            <!-- Total -->
            <div class="flex ">
              <div class="text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
              <div class="w-full text-right text-2xl font-medium">{{debitValue | currency}}</div>
            </div>
            @if (differenceValue !== 0) {
              <div class="flex justify-between">
                <div class="font-medium tracking-tight text-secondary">Debitos - creditos</div>
                <div class="text-right font-medium">{{debitValue | currency}}</div> -
                <div class="text-right font-medium">{{creditValue | currency}}</div>
                <div class="text-right font-medium">{{differenceValue | currency}}</div>
              </div>
            }
            @if (botonAccion) {
              <button class="order-first sm:order-last w-full btn-flat-primary"
              (click)="send()">{{ botonAccion }}</button>
            }
          </form>
        }

        @if (loading) {
          <div class="w-full flex justify-center p-8">
            <svg class="animate-spin h-6 w-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
          </div>
        }
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (f of filteredOptions | async; track f) {
            <mat-option [value]="f">
              <span>{{f.code}}</span> | <small>{{f.name}}</small>
            </mat-option>
          }
        </mat-autocomplete>
      </div>
