<div >
  @if (company) {
  <div class="flex flex-auto flex-col">
    <!-- Header -->
    <div class="flex flex-col shadow">
      <!-- Cover image -->
      @if (slides.length) {
      <div>
        <swiper-container class="h-40 lg:h-50 w-full" autoplay="true" autoplay-delay="5000" loop="true"
          navigation="true" keyboard="true" slides-per-view="1">
          @for (slide of slides; track slide) {
          <swiper-slide class="flex">
            <img class="h-40 lg:h-50 object-cover w-full" [src]="slide" alt="">
          </swiper-slide>
          }
        </swiper-container>
      </div>
      }
      <!-- User info -->
      <div class="flex flex-row flex-0 items-center max-w-5xl w-full mx-auto px-8 lg:h-18">
        <!-- Avatar -->
        <div class=" max-w-32 z-0">
          <img class="w-full h-full rounded-full ring-4 ring-bg-card bg-white" [src]="company.imagen"
            alt="User avatar">
        </div>
        <!-- Details -->
        <div class="flex flex-col items-center lg:items-start mt-4 mb-4 lg:mt-0 lg:mb-0">
          <div class="text-lg font-bold leading-none">{{ company.nombre }}</div>
          <div class="text-secondary p-1">{{ company.slogan }}</div>
        </div>
      </div>
    </div>

  </div>
  }
  <indicators-cards></indicators-cards>
</div>