<div class="p-4 h-full">
    <mat-form-field>
        <mat-label>{{nombre}}</mat-label>
        <button class="btn-icon"
          matPrefix
          tabindex="-1">
          <mat-icon>map</mat-icon>
        </button>
        <input
          matInput
          [formControl]="fControl"
          [readonly]="true"
          autocomplete="off"
          class="cursor-pointer text-primary underline"/>
        <button class="btn-icon"
          matSuffix
          (click)="closeMap()"
          tabindex="-1">
          <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>
        </button>
    </mat-form-field>
    <div id="{{target}}" class="map" (click)="handlerClick($event)" class="w-full h-full"></div>
</div>

