<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

        <!-- Drawer -->
        <mat-drawer class="w-72 dark:bg-gray-900" [mode]="drawerMode" [opened]="true" [position]="'start'"
            [disableClose]="!catalogSelected" #drawer>

            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div class="py-8 px-6 border-b">
                    <div class="text-4xl font-extrabold tracking-tight leading-none pb-4">Catalogos</div>
                    <div class="flex-auto">
                        <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full" subscriptSizing="dynamic">
                            <mat-icon class="icon-size-5" matPrefix>search</mat-icon>
                            <input matInput [formControl]="searchInputControl">
                        </mat-form-field>
                    </div>
                    <button mat-flat-button [color]="'primary'" (click)="openComposeDialog()" class="w-full">
                        <mat-icon>add</mat-icon>
                        <span>Catalogo nuevo</span>
                    </button>
                </div>

                <div class="relative">
                    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingCatalog"></mat-progress-bar>
                    <ng-container *ngIf="catalogs && catalogs.length; else noCatalogs">
                        <ng-container *ngFor="let catalog of catalogs; let i = index; trackBy: trackByFn">
                            <a class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer border-b"
                                (click)="selectCatalog(catalog)"
                                [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedCatalog || selectedCatalog.key !== catalog.key,
                                                'bg-primary-50 dark:bg-hover': selectedCatalog && selectedCatalog.key === catalog.key}">
                                <div class="min-w-0 ml-4">
                                    <div class="font-medium leading-5 truncate">{{catalog.name}}</div>
                                    <div class="leading-5 truncate text-secondary">{{catalog.code}}</div>
                                </div>
                            </a>
                        </ng-container>
                    </ng-container>

                    <!-- No catalogs -->
                    <ng-template #noCatalogs>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay
                            catalogos creados!</div>
                    </ng-template>
                </div>
            </div>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="h-full">

            <ng-container *ngIf="catalogSelected; else noChats">
                <div class="flex flex-col flex-auto w-full bg-gray-100 dark:bg-transparent p-4 md:p-6 gap-2">

                    <!-- Title and action buttons -->
                    <div class="flex w-full">
                        <button mat-icon-button (click)="toggleDrawer()">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <div class="w-full text-center">
                            <h2 class="text-3xl font-semibold tracking-tight leading-8">{{catalogSelected.name}}</h2>
                        </div>
                    </div>

                    <!-- Account balance -->
                    <div class=" bg-card shadow rounded-2xl p-6 pb-4">
                        <div class="flex justify-between w-full">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Balance general</div>
                            <div>
                                <button [matMenuTriggerFor]="actionsBalance" mat-icon-button>
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #actionsBalance="matMenu">
                                    <button mat-menu-item (click)="getBalance()">
                                        <mat-icon class="icon-size-5">refresh</mat-icon>
                                        <span>Actualizar balance</span>
                                    </button>
                                    <button mat-menu-item (click)="openAccountForm()">
                                        <mat-icon class="icon-size-5">add</mat-icon>
                                        <span>Crear Cuenta</span>
                                    </button>
                                    <button mat-menu-item (click)="openUploadForm()">
                                        <mat-icon class="icon-size-5">attach_file</mat-icon>
                                        <span>Cargar CSV de cuentas</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingBalance"
                            class="w-full"></mat-progress-bar>
                        <div class="flex flex-wrap justify-between pt-4 px-2 w-full">

                            <div *ngFor="let item of balance" class="px-4">
                                <div class="font-medium text-md leading-none text-secondary w-full">{{item.accountName}}
                                </div>
                                <div class="font-semibold text-3xl sm:text-6xl tracking-tighter w-full">
                                    {{(item.value)?item.value:0| number}}</div>
                            </div>
                        </div>
                    </div>

                    <!-- Account -->
                    <div class="bg-card shadow rounded-2xl overflow-hidden">
                        <div class="px-6 py-2 text-lg font-medium tracking-tight leading-6 truncate">Cuentas del
                            catalogo</div>
                        <div class="px-6 py-2 overflow-x-auto">
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingAccount"
                                class="w-full"></mat-progress-bar>
                            <table class="w-full bg-transparent" mat-table matSort [dataSource]="dataSource">
                                <!-- WBS -->
                                <ng-container matColumnDef="code">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Codigo</th>
                                    <td mat-cell *matCellDef="let row">
                                        <div class="flex">
                                            <button mat-icon-button [style.visibility]="!row.expandable ? 'hidden' : ''"
                                                (click)="treeControl.toggle(row)">
                                                <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(row) ?
                                                    'expand_more' : 'chevron_right'}}</mat-icon>
                                            </button>
                                            <span class="pt-2 text-sm">{{row.code}}</span>
                                        </div>
                                    </td>
                                </ng-container>
                                <!-- Name -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Nombre</th>
                                    <td mat-cell *matCellDef="let row">
                                        <span class="whitespace-nowrap">{{row.name}}</span>
                                    </td>
                                </ng-container>
                                <!-- Status -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let transaction">
                                        <span
                                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                            [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === 'PLANNING',
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status === 'OPERATING'}">
                                            <span
                                                class="leading-relaxed whitespace-nowrap">{{transaction.status}}</span>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Acciones
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <div>
                                            <button [matMenuTriggerFor]="actionsTable" mat-icon-button>
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #actionsTable="matMenu">
                                                <button mat-menu-item (click)="openAccountForm(row)">Crear
                                                    Subcuenta</button>
                                            </mat-menu>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr class="h-16" mat-row *matRowDef="let row; columns: displayedColumns;"
                                    [ngClass]="{'bg-slate-100': treeControl.isExpanded(row)}">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- No chats template -->
            <ng-template #noChats>
                <div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default h-full">
                    <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:chat'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Selecciona un catalogo
                        </div>
                    </div>
                </div>
            </ng-template>

        </mat-drawer-content>

    </mat-drawer-container>

</div>