<div [style.display]="isInvisible ? 'none' : 'block'" class="mx-0">
  <div class="py-1">
    <input [id]="structure.llaveTabla" *ngIf="isLoadingUrl && allowUrlTextFromUser" [(ngModel)]="urlText" fxFlex />
    <button mat-flat-button color="accent" [disabled]="isLoading" *ngIf="isEnabled && !isEnd && !isLoading" fxFlex="100"
      (click)=" onClickExternal()">
      <mat-icon svgIcon="attach_file"></mat-icon>
      {{ structure.nombre | titlecase }}
      <small *ngIf="required"> *</small>
      <!--style="display: none"-->
      <input [id]="structure.llaveTabla + '_file'" type="file" style="display: none" [multiple]="multipleFiles"
        [accept]="filtroExtension" (click)="$event.target.value = '';$event.stopPropagation();"
        (change)="handleFileInput($event.target.files)" capture="camera" />
    </button>
    <button mat-flat-button color="accent" class="ml-1" *ngIf="isEnabled && !isEnd && allowUrlTextFromUser"
      (click)="onClickLoadUrl()">
      <mat-icon *ngIf="!isLoadingUrl">keyboard</mat-icon>
      <mat-icon *ngIf="isLoadingUrl">check</mat-icon>
    </button>
  </div>
  <mat-progress-bar *ngIf="isLoading" color="primary" class="full-width" mode="indeterminate"></mat-progress-bar>
  <!-- Firma -->
  <div *ngIf="firma && isEnabled && !isEnd" fxLayoutAlign="center center" class="p-1">
    <signature-pad></signature-pad>
    <button mat-raised-button (click)="takeSignature()" tabindex="-1">
      <mat-icon>photo_camera</mat-icon>
    </button>
    <button mat-raised-button (click)="clearSignature()" tabindex="-1">
      <mat-icon>format_clear</mat-icon>
    </button>
  </div>
  <!-- Tabla -->
  <div class="m-1" *ngFor="let item of files">
    <div class="m-4 text-center">
      <img *ngIf="item.blob" [src]="item.blob" class="middle-width"
        (load)="validateOrientationHandler($event.target, item)" [name]="item.url" />
      <img *ngIf="!item.blob && item.url" [src]="item.url" class="middle-width" [name]="item.url" />
    </div>
    <div>
      <mat-progress-bar fxFlex *ngIf="item.isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
      <mat-icon class="mx-4 cursor-pointer" (click)="openImage(item)" *ngIf="!item.isLoading">file_download</mat-icon>
      <mat-icon *ngIf="isEnabled" color="warn" (click)="deleteFile(item)" class="mx-1 cursor-pointer">cancel</mat-icon>
      <div fxFlex class="line-clamp-1 mx-2">
        <a class="mx-0.5 cursor-pointer text-primary" (click)="this.openImage(item)">{{ item.url }}</a>
      </div>
    </div>
  </div>
</div>