<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

  <mat-drawer-container class="flex-auto h-full">

    <!-- Drawer -->
    <mat-drawer position="end" class="w-72 dark:bg-gray-900" [mode]="drawerMode" [(opened)]="drawerOpened" #drawer>

      <!-- sidebar -->
      <div class="flex flex-col flex-auto w-full">
        <!-- Title -->

        <div class="p-2">

          <!-- Botones de accion en la lista -->
          <div fxLayout="row" *ngIf="!isLoading" class="w-full">
            <button mat-icon-button color="primary" matTooltip="Listar" (click)="listar(1)" class="m-1">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button [color]="viewMode === 'list-view' ? 'accent' : ''" (click)="viewMode = 'list-view'"
              *ngIf="plantilla">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button mat-icon-button [color]="viewMode === 'grid-view' ? 'accent' : ''" (click)="viewMode = 'grid-view'"
              *ngIf="plantilla">
              <mat-icon>apps</mat-icon>
            </button>
            <div *ngIf="viewMode !== 'grid-view' && plantilla.reportes">
              <button mat-flat-button color="accent" class="m-1" [matMenuTriggerFor]="userMenuList">
                <mat-icon>print</mat-icon>Imprimir
              </button>
              <mat-menu #userMenuList="matMenu">
                <button mat-menu-item *ngFor="let r of plantilla.reportes" (click)="showReport(r, null)">
                  <mat-icon>print</mat-icon>
                  <span>{{ r.nombre }}</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <button class="w-full" *ngIf="hasCreatePermission" mat-flat-button [color]="'primary'" (click)="openDialogFromTemplateModule()">
            <mat-icon>add</mat-icon>
            <span class="ml-2">Nuevo</span>
          </button>
          <div *ngIf="templatesFromProcess">
            <button *ngFor="let templateToCreate of templatesFromProcess" class="w-full my-1" mat-flat-button
              [color]="'primary'" (click)="openDialog(templateToCreate.llaveTabla, templateToCreate.server)">
              <mat-icon>add</mat-icon>
              <span class="ml-2">{{templateToCreate.nombre}}</span>
            </button>
          </div>
          <!-- Buscador de texto -->
          <div class="text-primary text-xs uppercase font-bold py-2"> Filtrar</div>
          <div class="pl-4">
            <mat-form-field>
              <input matInput type="text" placeholder="Coloca un texto y presiona enter" [formControl]="fControlSearch"
                autocomplete="off" (keyup.enter)="listar(1)" />
              <button mat-button matSuffix mat-icon-button (click)="fControlSearch.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-checkbox class="py-2" [formControl]="fControlCheck">Filtrar por codigo Exacto</mat-checkbox>
            <button class="w-full " mat-flat-button [color]="'accent'" (click)="listar(1)">
              <mat-icon>refresh</mat-icon>
              <span class="ml-2">Listar</span>
            </button>
          </div>
          <!-- Buscador de fecha -->
          <div class="text-primary text-xs uppercase font-bold py-2"> Filtrar por fechas </div>
          <div class="pl-4">
            <mat-form-field>
              <mat-label>Escoge una fecha</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Fecha inicial" [formControl]="fControlDateStart" />
                <input matEndDate placeholder="Fecha final" [formControl]="fControlDateEnd" />
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <button mat-button matSuffix mat-icon-button (click)="
                    fControlDateStart.setValue(null); fControlDateEnd.setValue(null)
                  ">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <!-- Filtro por Estados  -->
          <div class="text-primary text-xs uppercase font-bold py-2"> Filtrar por estados </div>
          <form [formGroup]="form" class="pl-4">
            <div *ngIf="plantilla?.estados ">
              <div *ngFor="let _estado of plantilla.estados" class="p-0.5 w-full rounded flex">
                <mat-checkbox [formControlName]="_estado.llaveTabla" class="w-full">
                  <span class="text-sm">{{ _estado.nombre }}</span>
                </mat-checkbox>
                <div class="icon-size-4 border rounded" [style.backgroundColor]="getColor(_estado.llaveTabla)"
                  [style.color]="getColorFont(_estado.llaveTabla)">
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>

    </mat-drawer>

    <!-- Drawer content -->
    <mat-drawer-content class="flex flex-col" fuseScrollReset>

      <!-- Main -->
      <div class="flex-auto">
        <div class="flex flex-col flex-auto min-w-0">
          <!-- Header -->
          <div
            class="flex flex-row flex-0 sm:items-center sm:justify-between p-3 sm:py-4 sm:px-5 border-b bg-card dark:bg-transparent">
            <img class="icon-size-12" src="{{ plantilla?.imagen | imageFormat }}" />
            <div class="flex-1 min-w-0">
              <!-- Title -->
              <div class="mt-2">
                <h2 class="text-xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                  {{ plantilla?.nombre }}
                </h2>
              </div>
            </div>
            <button mat-icon-button matTooltip="Listar" *ngIf="!drawerOpened" (click)="listar(1)" class="m-1">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Crear" (click)="openDialogFromTemplateModule()"
              *ngIf="!drawerOpened && hasCreatePermission" class="m-1">
              <mat-icon>add</mat-icon>
            </button>
            <button class="-ml-3 sm:ml-0 mb-2 sm:mb-0 order-first sm:order-last" mat-icon-button
              (click)="toggleDrawer()">
              <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
          </div>
          <!-- Vista modo grilla -->
          <div class="flex flex-wrap p-1 w-full" *ngIf="viewMode === 'grid-view'">
            <div *ngFor="let iDocument of dataProvider" class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
              <mat-card class="p-0 rounded h-full">
                <mat-card-title class="p-1 rounded">
                  <div class="flex items-center ">
                    <div class="w-16 p-1">
                      <a (click)="openDocument(iDocument)"><img src="{{ iDocument.imagen | imageFormat }}" /></a>
                    </div>
                    <div fxLayout="column" class="w-full p-1 rounded" fxFlex
                      [style.backgroundColor]="getColor(iDocument.estadoExpediente)"
                      [style.color]="getColorFont(iDocument.estadoExpediente)">
                      <a (click)="openDocument(iDocument)">
                        <div class="text-md">{{ iDocument.nombre }}</div>
                      </a>
                      <a (click)="openDocument(iDocument)" *ngIf="iDocument.descripcion">
                        <div class="text-sm line-clamp-4">{{iDocument.descripcion }}
                        </div>
                      </a>
                    </div>
                    <div *ngIf="plantilla.reportes && plantilla.reportes.length!==0">
                      <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="iDocument.llaveTabla">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #userMenu="matMenu">
                        <button mat-menu-item *ngFor="let r of plantilla.reportes" (click)="showReport(r, iDocument)">
                          <mat-icon>print</mat-icon>
                          <span>{{ r.nombre }}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                  <!-- <mat-divider></mat-divider> -->
                  <div class="flex flex-row">
                    <div class="mat-caption ">{{ iDocument.fecha | date }}</div>
                    <div class="text-sm mx-1">{{ iDocument.estadoNombre }}</div>
                  </div>
                  <div class="flex flex-col" *ngIf="iDocument.dinero">
                    <div class="text-sm line-clamp-1">{{ iDocument.dinero.valorCampo | currency }}</div>
                    <div>{{ iDocument.dinero.valorTotal | currency }}</div>
                  </div>
                </mat-card-title>
                <mat-card-content class="p-1">
                  <div *ngIf="iDocument.caracteristicas && iDocument.caracteristicas.length !== 0">
                    <mat-divider></mat-divider>
                    <div fxLayout="row" class="flex" *ngFor="let f of iDocument.caracteristicas">
                      <small class="font-extralight line-clamp-1">{{ f.campoDTO.nombre }}</small>
                      <div class="flex w-full" *ngIf="f.valorText">
                        <small class="w-full text-right" *ngIf="!f.valorText.startsWith('http')">{{ f.valorText
                          }}</small>
                        <img *ngIf="f.valorText.startsWith('http')" [src]="f.valorText" [name]="f.valorText" />
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <!-- Vista modo tabla -->
          <table mat-table [dataSource]="dataProvider" class="mat-elevation-z8 full-width"
            *ngIf="viewMode !== 'grid-view'">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation();multipleSelect($event,row)"
                  (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>CODIGO</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="$event.stopPropagation();openDocument(element)">
                  <mat-icon class="ml-1" inline="true">open_in_new</mat-icon>
                  <span class="mat-caption">{{ element.nombre }}</span>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
              <td mat-cell *matCellDef="let element">
                <small>{{ element.descripcion }}</small>
              </td>
            </ng-container>
            <ng-container matColumnDef="valor">
              <th mat-header-cell *matHeaderCellDef>VALOR</th>
              <td mat-cell *matCellDef="let element">
                <div class="card-title-text" fxLayout="row" *ngIf="element.dinero">
                  <!-- <span fxFlex>{{element.dinero.valorCampo | currency}}</span> -->
                  <span class="pr-1">{{ element.dinero.valorTotal | currency }}</span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef>FECHA</th>
              <td mat-cell *matCellDef="let element">
                <small>{{ element.fecha | date }}</small>
              </td>
            </ng-container>
            <ng-container matColumnDef="estadoExpediente">
              <th mat-header-cell *matHeaderCellDef>ESTADO</th>
              <td mat-cell *matCellDef="let element">
                <small>{{ element.estadoNombre }}</small>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>:</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="plantilla && plantilla.reportes">
                  <button mat-icon-button [matMenuTriggerFor]="userMenu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #userMenu="matMenu">
                    <button mat-menu-item *ngFor="let r of plantilla.reportes" (click)="showReport(r, element)">
                      <mat-icon>print</mat-icon>
                      <span>{{ r.nombre }}</span>
                    </button>
                  </mat-menu>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="detalles">
              <th mat-header-cell *matHeaderCellDef>DETALLES</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.caracteristicas && element.caracteristicas.length !== 0">
                  <div fxLayout="row" *ngFor="let f of element.caracteristicas">
                    <small fxFlex>{{ f.campoDTO.nombre }}</small>
                    <span class="mat-caption">{{ f.valorText }}</span>
                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="multipleSelect($event, row)"></tr>
          </table>
          <!-- Paginador -->
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
          <div class="w-full items-center" *ngIf="!isLoading && !isEnd">
            <button mat-flat-button color="accent" tabindex="-1" (click)="listar(pagina)">
              <mat-icon>refresh</mat-icon> Presiona la imagen para buscar mas resultados
            </button>
          </div>
          <!-- Pie de pagina, paginador -->
          <div class="border w-full p-4 font-weight-bold items-center">
            <div *ngIf="viewMode !== 'grid-view'">Seleccionados : {{ this.selection?.selected.length }}</div>
            <div>Total : {{ dataProvider?.length }}</div>
            <div>Puedes usar los filtros para mejorar tu busqueda</div>
          </div>

        </div>
      </div>

    </mat-drawer-content>


  </mat-drawer-container>

</div>