<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<!-- Campos unicos -->
<mat-form-field class="w-full" *ngIf="!herencia && !multiple" [style.display]="isInvisible ? 'none': 'block'">
  <mat-label>{{ structure.nombre | titlecase }} </mat-label>
  <input matInput [matAutocomplete]="auto" [formControl]="fControl" [required]="required" [readonly]="!isEnabled"
    (focus)="proceso == null ? (filteredDocuments = disponibles) : null" (keyup.enter)="gestionarKeyUpTexto()"
    translate="no" />
  <a *ngIf="proceso && linkExternal" class="a-hyperlink" (click)="goToLink()">{{linkExternal.valor}}</a>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplay">
  </mat-autocomplete>
  <!-- Open window -->
  <button mat-icon-button matPrefix *ngIf="proceso" (click)="openDialog(proceso)" tabindex="-1">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <!-- Create -->
  <button mat-icon-button matPrefix [matMenuTriggerFor]="clickHoverMenu" *ngIf="acciones && !proceso"
    #clickHoverMenuTrigger="matMenuTrigger" (click)="sendCreate()" tabindex="-1">
    <mat-icon>add_circle</mat-icon>
  </button>
  <mat-menu #clickHoverMenu="matMenu">
    <button mat-menu-item (click)="createNewDocument(item.valor)" *ngFor="let item of acciones" tabindex="-1">
      Crear {{ item.texto | titlecase }}
    </button>
  </mat-menu>
  <!-- Buscar -->
  <button mat-icon-button matSuffix *ngIf="tipoTexto && isEnabled && !proceso" (click)="gestionarKeyUpTexto()"
    tabindex="-1">
    <mat-icon>search</mat-icon>
  </button>
  <!-- Limpiar -->
  <button mat-icon-button matSuffix *ngIf="proceso && isEnabled" (click)="fControl.setValue('')" tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  <!-- Boton codigo QR-->
  <button mat-icon-button matPrefix (click)="toogleScanner()" tabindex="-1" *ngIf="isEnabled && readQR && !proceso">
    <mat-icon>camera_enhance</mat-icon>
  </button>
  <div *ngIf="scannerEnabled && !proceso" class="w-full">
    <zxing-scanner [formats]="allowedFormats" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  </div>
  <!-- Opciones de seleccion -->
  <div class="w-full" *ngIf="isEnabled && !proceso" style="overflow: auto">
    <!-- Vista modo tabla -->
    <table mat-table [dataSource]="filteredDocuments" class="w-full">
      <ng-container matColumnDef="nombre">
        <!-- <th mat-header-cell *matHeaderCellDef>CODIGO</th> -->
        <td mat-cell *matCellDef="let element">
          <span class="pr-1">{{ element.nombre }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <!-- <th mat-header-cell *matHeaderCellDef>NOMBRE</th> -->
        <td mat-cell *matCellDef="let element">
          <small class="pr-1">{{ element.descripcion }}</small>
        </td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <!-- <th mat-header-cell *matHeaderCellDef>NOMBRE</th> -->
        <td mat-cell *matCellDef="let element">
          <small *ngIf="element.dinero" class="pr-1">{{
            element.dinero.valorTotal | number
            }}</small>
        </td>
      </ng-container>
      <ng-container matColumnDef="detalles">
        <!-- <th mat-header-cell *matHeaderCellDef>DETALLES</th> -->
        <td mat-cell *matCellDef="let element">
          <div class="pr-1" *ngIf="
              element.caracteristicas && element.caracteristicas.length !== 0
            ">
            <div class="flex flex-row" *ngFor="let f of element.caracteristicas">
              <small class="w-full">{{ f.campoDTO.nombre }}</small>
              <span>{{ f.valorText }}</span>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="estadoExpediente">
        <td mat-cell *matCellDef="let element" class="text-right"
          [style.backgroundColor]="getColor(element.estadoExpediente)">
          <small>{{ element.estadoNombre }}</small>
        </td>
      </ng-container>
      <tr mat-row class="cursor-pointer" *matRowDef="
          let row;
          columns: [
            'nombre',
            'descripcion',
            'valor',
            'detalles',
            'estadoExpediente'
          ]
        " (click)="fControl.setValue(row)"></tr>
    </table>
  </div>
</mat-form-field>
<!-- Campos multiples -->
<div *ngIf="tipoMultiple" class="pb-1">
  <!-- Titulo y boton buscar -->
  <div fxLayout="center center">
    <button mat-raised-button color="accent" (click)="procesarCampo(transformPVCtoFilter(data))" *ngIf="!isLoading"
      [matBadge]="data.valorText" matBadgeColor="primary" class="w-full">
      {{ structure.nombre | titlecase }}
    </button>
    <span *ngIf="data.valorNumero && data.valorNumero !== 0"
      class="text-28 font-weight-bold mat-color-primary w-full text-center">{{ titulo }}</span>
  </div>
  <!-- Lista de seleccionados (Expedientes) -->
  <div fxLayout="row wrap">
    <div class="p-1" *ngFor="let d of data?.expedientes" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="p-0 rounded h-full">
        <mat-card-title class="p-1 rounded mb-0">
          <div class="flex items-center">
            <div class="w-16 p-1">
              <a (click)="openDialog(d)"><img src="{{ d.imagen | imageFormat }}" /></a>
            </div>
            <!--[style.backgroundColor]="getColor(d.estadoExpediente)" [style.color]="getColorFont(d.estadoExpediente)"-->
            <div fxLayout="column" class="w-full p-1 rounded" fxFlex>
              <a (click)="openDialog(d)">
                <div class="text-md">{{ d.nombre }}</div>
              </a>
              <a (click)="openDialog(d)" *ngIf="d.descripcion">
                <div class="text-sm line-clamp-4">
                  {{ d.descripcion }}
                </div>
              </a>
            </div>
            <button mat-icon-button *ngIf="isEnabled" (click)="retirarProceso(d)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <div fxLayout="row" class="flex">
            <div class="text-sm">{{ d.fecha | date }}</div>
            <div fxFlex class="text-sm mx-1 text-right">{{ d.estadoNombre }}</div>
          </div>
          <div fxLayout="row" class="flex" *ngIf="d.dinero">
            <div *ngIf="d.dinero.valorTotal !== d.dinero.saldo &&  0 !== d.dinero.saldo">{{ d.dinero.saldo | number }}</div>
            <div fxFlex class="text-right">{{ d.dinero.valorTotal | number }}</div>
          </div>
        </mat-card-title>
        <mat-card-content class="p-1">
          <div *ngIf="d.caracteristicas && d.caracteristicas.length !== 0">
            <div fxLayout="row" class="flex" *ngFor="let f of d.caracteristicas">
              <small class="font-extralight line-clamp-1">{{ f.campoDTO.nombre }}</small>
              <div fxFlex class="text-right text-sm" *ngIf="f.valorText" [matTooltip]="f.valorText">
                {{ f.valorText }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Buscador de expedientes -->
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="grey-200 my-1"
    *ngIf="(data.expedientes || dataProvider) && (isEnabled || herencia)">
    <!-- Fechas -->
    <div class="mr-1" *ngIf="fControlCheck && !fControlCheck.value">
      <mat-form-field>
        <mat-label>Escoge una fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Fecha inicial" [formControl]="fControlDateStart" />
          <input matEndDate placeholder="Fecha final" [formControl]="fControlDateEnd" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <button mat-button matSuffix mat-icon-button (click)="
            fControlDateStart.setValue(null); fControlDateEnd.setValue(null)
          ">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- Check Codigo -->
    <mat-checkbox class="mr-1" [formControl]="fControlCheck">Codigo Exacto</mat-checkbox>
    <!-- Texto de filtro -->
    <div class="mr-1">
      <mat-form-field>
        <input matInput type="text" placeholder="Coloca un texto y presiona enter" name="fControlSearch"
          [formControl]="fControlSearch" autocomplete="off" (keyup.enter)="listar(1)" />
        <button mat-button matSuffix mat-icon-button (click)="fControlSearch.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- Boton filtrar -->
    <button mat-raised-button (click)="listar(1)" class="ml-1">
      <mat-icon>refresh</mat-icon>
    </button>
    <!-- Create copiado de arriba -->
    <button mat-raised-button matSuffix [matMenuTriggerFor]="clickHoverMenuMultiple"
      *ngIf="acciones && !proceso && isEnabled" #clickHoverMenuTrigger="matMenuTrigger" (click)="sendCreate()">
      <mat-icon>add_circle</mat-icon>
    </button>
    <mat-menu #clickHoverMenuMultiple="matMenu">
      <button mat-menu-item (click)="createNewDocument(item.valor)" *ngFor="let item of acciones">
        Crear {{ item.texto | titlecase }}
      </button>
    </mat-menu>
    <!-- Boton codigo QR-->
    <button mat-raised-button (click)="toogleScanner()" class="ml-1" *ngIf="isEnabled && readQR">
      <mat-icon>camera_enhance</mat-icon>
    </button>
    <!-- Boton Agregar todos-->
    <button mat-raised-button (click)="agregarTodos()" class="ml-1"
      *ngIf="isEnabled && dataProvider && dataProvider.length">
      <mat-icon>file_upload</mat-icon>
    </button>
  </div>
  <div *ngIf="scannerEnabled" class="w-full">
    <zxing-scanner [formats]="allowedFormats" (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  </div>
  <!-- Resultado de la busqueda -->
  <div fxLayout="row wrap">
    <div class="p-1" *ngFor="let iDocument of dataProvider" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="p-0 rounded h-full">
        <mat-card-title class="p-1 rounded">
          <div class="flex items-center">
            <div class="w-16 p-1">
              <a (click)="openDialog(iDocument)"><img src="{{ iDocument.imagen | imageFormat }}" /></a>
            </div>
            <div fxLayout="column" class="w-full p-1 rounded" fxFlex
              [style.backgroundColor]="getColor(iDocument.estadoExpediente)"
              [style.color]="getColorFont(iDocument.estadoExpediente)">
              <a (click)="openDialog(iDocument)">
                <div class="text-md">{{ iDocument.nombre }}</div>
              </a>
              <a (click)="openDialog(iDocument)" *ngIf="iDocument.descripcion">
                <div class="text-sm line-clamp-4">
                  {{ iDocument.descripcion }}
                </div>
              </a>
            </div>
            <button mat-icon-button (click)="agregarProceso(iDocument)" *ngIf="!herencia">
              <mat-icon>file_upload</mat-icon>
            </button>
          </div>
          <!-- <mat-divider></mat-divider> -->
          <div fxLayout="row" class="flex">
            <div class="text-sm">{{ iDocument.fecha | date }}</div>
            <div class="text-sm mx-1 text-right">{{ iDocument.estadoNombre }}</div>
          </div>
          <div fxLayout="row" class="flex" *ngIf="iDocument.dinero">
            <div *ngIf="iDocument.dinero.valorTotal !== iDocument.dinero.saldo && 0 !== iDocument.dinero.saldo">
              {{iDocument.dinero.saldo | number}}
            </div>
            <div fxFlex class="text-right">{{ iDocument.dinero.valorTotal | number }}</div>
          </div>
        </mat-card-title>
        <mat-card-content class="p-1">
          <div *ngIf="iDocument.caracteristicas && iDocument.caracteristicas.length !== 0">
            <div fxLayout="row" class="flex" *ngFor="let f of iDocument.caracteristicas">
              <small class="font-extralight line-clamp-1">{{ f.campoDTO.nombre }}</small>
              <div fxFlex class="text-right text-sm" *ngIf="f.valorText" [matTooltip]="f.valorText">
                {{ f.valorText }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <button mat-flat-button color="accent" (click)="listar(pagina)" tabindex="-1" class="w-full"
      *ngIf="!isLoadingList && !isEndList">
      <mat-icon>refresh</mat-icon> Mas resultados
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoadingList"></mat-progress-bar>

</div>
<div *ngIf="!tipoMultiple && herencia" class="pb-1">
  <!-- Titulo y boton buscar -->
  <div fxLayout="center center">
    <button mat-raised-button color="accent" (click)="procesarCampo(transformPVCtoFilter(data))" *ngIf="!isLoading"
      class="w-full">
      {{ structure.nombre | titlecase }}
    </button>
  </div>
</div>