<div class="page-wrap height-100 black">
    <div class="session-form-hold">
      <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
      <mat-card>
        <mat-card-content>
          <div class="text-center pt-8 pb-16">
            <img src="{{ image | imageFormat }}" alt="">
            <p class="text-muted m-0">{{company}}</p>
          </div>
          <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
          <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <div class="">
              <mat-form-field class="full-width">
                <input
                  matInput
                  name="username"
                  [formControl]="signInForm.controls['username']"
                  placeholder="Username"
                  value="">
              </mat-form-field>
              <small 
                *ngIf="signInForm.controls['username'].hasError('required') && signInForm.controls['username'].touched" 
                class="form-error-msg"> Username is required </small>
            </div>
  
            <div class="">
              <mat-form-field class="full-width">
                <input 
                  type="password"
                  name="password"
                  matInput
                  [formControl]="signInForm.controls['password']"
                  placeholder="Password" 
                  autocomplete="new-password"
                  value="">
              </mat-form-field>
              <small 
                *ngIf="signInForm.controls['password'].hasError('required') && signInForm.controls['password'].touched" 
                class="form-error-msg"> Password is required </small>
            </div>
            
            <div class="pb-1">
              <mat-checkbox
                name="rememberMe"
                [formControl]="signInForm.controls['rememberMe']"
                class="pb-1">Remember this computer</mat-checkbox>
            </div>
            
            <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signInForm.invalid">Sign in</button>
            <small class="text-muted m-0">{{currentApplicationVersion}}</small>
            <div class="text-center">
              <span fxFlex></span>
              <a [routerLink]="'/sessions/recover'" class="mat-primary text-center full-width">Recordar clave acceso</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  