<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div >
            <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
                proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
                [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr"
                class="h-40 lg:h-50 object-cover w-full">
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
                    overlayColor="#00000040" [hideOverlay]="true"></mat-carousel-slide>
            </mat-carousel>
        </div>

        <!-- User info -->
        <div class="flex flex-row flex-0 items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-22 max-w-32 z-0">
                <img class="w-full h-full rounded-full ring-4 ring-bg-card bg-white" [src]="user?.companyImage"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 mb-4 lg:mt-0 lg:ml-8 lg:mb-0">
                <div class="text-lg font-bold leading-none">{{ user?.companyName }}</div>
                <div class="text-secondary">{{ user?.companySlogan }}</div>
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-3">

        <!-- Column -->
        <div class="hidden lg:flex flex-col items-start mr-8">

            <!-- Roles -->
            <fuse-card class="flex flex-col max-w-80 w-full px-8 pt-3 pb-3">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Roles</div>
                </div>
                <div class="flex flex-col mt-5">
                    <div class="flex">
                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                        <div>Rol 1 </div>
                    </div>
                    <div class="flex mt-5">
                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                        <div>Rol 2 </div>
                    </div>
                    <div class="flex mt-5">
                        <mat-icon class="icon-size-5 mt-0.5 mr-2" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                        <div>Rol 3 </div>
                    </div>
                </div>
            </fuse-card>


            <!-- About me -->
            <fuse-card class="flex flex-col max-w-80 w-full p-3 mt-8">
                <div class="text-2xl font-semibold leading-tight">About Me</div>
                <div class="mt-4">
                    ....
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">Colombia</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">ACME Corp. Lead UX Designer</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">April, 24</span>
                    </div>
                </div>
                <a class="px-6 mt-8" mat-flat-button [color]="'primary'" [routerLink]="['./']">
                    Perfil completo
                </a>
            </fuse-card>
        </div>

        <!-- Column -->
        <div class="flex flex-col items-start w-full">

            <!-- Create Post -->
            <fuse-card class="flex flex-col w-full p-3">
                <div class="text-xl font-semibold">Bienvenid@ {{ user?.name }}</div>
                <div class="flex flex-col sm:flex-row items-start mt-2">
                    <div class="hidden sm:flex items-center">
                        <img class="w-12 min-w-12 h-12 rounded-full mr-4" src="{{ user?.avatar }}">
                    </div>
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <input #myInput matInput [placeholder]="'Que deseas consultar?'" [formControl]="filterControl"
                            (input)="filterItem()" (keyUp.enter)="selectFirst()" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-button-toggle-group class="flex flex-wrap" [(ngModel)]="selectedFilter"
                        (change)="filterItem()">
                        <ng-container *ngFor="let filter of filters">
                            <mat-button-toggle [value]="filter">
                                <span class="text-secondary">{{filter | titlecase}}</span>
                            </mat-button-toggle>
                        </ng-container>
                    </mat-button-toggle-group>
                </div>
            </fuse-card>
            <div class="w-full">
                <div class="flex flex-wrap mt-4">
                    <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
                    <div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 p-1" *ngFor="let template of filteredModules">
                        <app-template class="h-full" [id]="template.llaveTabla" [nombre]="template.nombre"
                            [imagen]="template.imagen" [process_id]="template.proceso"
                            [type]="template.estado"></app-template>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>