<!-- Navigation -->
<fuse-vertical-navigation class="bg-card dark:bg-gray-900 print:hidden" [appearance]="'thin'"
  [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation?.compact"
  [opened]="!isScreenSmall">
  <!-- Navigation header hook -->
  <ng-container fuseVerticalNavigationContentHeader>
    <!-- Logo -->
    <div class="flex items-center justify-center h-20">
      @if (company?.imagen) {
        <img class="w-full px-2" src="{{ company?.imagen | imageFormat }}" alt="Logo image" />
      }
    </div>
    <!-- <div class="flex flex-col items-center justify-center px-2 text-gray-500">
    <span class="text-xxs text-center">{{ time | date : "medium" }}</span>
    <span class="text-xxs">{{ currentApplicationVersion }}</span>
  </div> -->
</ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button class="mr-2" mat-icon-button (click)="toggleNavigation('mainNavigation')">
      <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <app-home-button></app-home-button>
      <search [appearance]="'bar'"></search>
      <shortcuts></shortcuts>
      <notifications></notifications>
      <user></user>
    </div>
  </div>

  @if (headerSection && headerSection.length!==0) {
    <div class="w-full">
      @for (iHeader of headerSection; track iHeader) {
        <div [innerHTML]="iHeader"></div>
      }
    </div>
  }

  <!-- Content -->
  <div class="flex flex-col flex-auto">
    <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
    Otherwise, layout changes won't be registered and the view won't be updated! -->
    @if (true) {
      <router-outlet></router-outlet>
    }
  </div>

  <!-- footer -->
  @if (landing && landing.length!==0) {
    <div class="w-full">
      @for (iFooter of landing; track iFooter) {
        <div [innerHTML]="iFooter" class="w-full"></div>
      }
    </div>
  }
</div>