<div class="messages-wrap">
    <mat-toolbar color="primary" class="inbox-toolbar">
      <!-- multiple email select and control -->
      <span fxFlex></span>
      <button mat-icon-button matTooltip="Nueva pregunta"><mat-icon>insert_comment</mat-icon></button>
    </mat-toolbar>
    
    <mat-accordion>
      <mat-expansion-panel *ngFor="let message of preguntas" hideToggle="true" (opened)="loadResponse(message)" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <!-- <span class="hide-on-open">{{message.autorNombre}}</span> -->
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center" class="show-on-open">
              <img [src]="message.autorImagen" alt="" class="inbox-face mr-16">
              <div fxLayout="column">
                <span class="m-0" >{{message.autorNombre}}</span>
                <small class="text-muted m-0">{{message.fecha | date}}</small>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description>
          <span class="mail-subject text-sm mat-color-default hide-on-open">{{message.pregunta}}</span>
          <span fxFlex ></span>
          <span class="text-sm" fxHide.lt-sm="true">{{message.fecha | relativeTime}}</span>
          <button mat-icon-button [matMenuTriggerFor]="msgMenu" (click)="$event.stopPropagation()" class="hidden-on-open">
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item><mat-icon>reply</mat-icon>Responder</button>
            <button mat-menu-item><mat-icon>archive</mat-icon>Calificar</button>
            <button mat-menu-item><mat-icon>delete</mat-icon>Bloquear</button>
          </mat-menu>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column">
            <div [innerHTML]="message.pregunta"></div>
            <div *ngFor="let response of message.respuestas">
                <div [innerHTML]="response.respuesta"></div>
            </div>
        </div>
        
      </mat-expansion-panel>
    </mat-accordion>
  </div>