<div class="flex flex-col flex-auto min-w-0">
<!-- Tableros de control -->
<mat-card *ngIf="tableros && tableros.length !== 0">
  <mat-card-title>Tableros de control</mat-card-title>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-spinner>
  <div fxLayout="row wrap">
    <div
      fxFlex="100"
      fxFlex.gt-sm="25"
      fxFlex.sm="50"
      *ngFor="let iTablero of tableros"
    >
    <app-template [id]="iTablero.llaveTabla" [nombre]="iTablero.texto" [imagen]="iTablero.motivo" type="T"></app-template>
    </div>
  </div>
</mat-card>
<!-- Modulos -->
<mat-card *ngIf="filteredModules">
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-spinner>
  <div>
    <div fxFlex="100"> {{ jwtAuth?.company?.nombre }}</div>
    <mat-form-field fxFlex="100">
      <mat-label>Filtra los modulos de acceso </mat-label>
      <input #myInput matInput autocomplete="off" (input)="filterItem(myInput.value)"/>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap">
    <div
      fxFlex.gt-sm="25"
      fxFlex.sm="50"
      fxFlex="100"
      *ngFor="let template of filteredModules"
    >
      <app-template [id]="template.llaveTabla" [nombre]="template.nombre" [imagen]="template.imagen" 
        [process_id]="template.proceso" type="P"></app-template>
    </div>
  </div>
</mat-card>
<!-- Reportes -->
<mat-card>
  <mat-card-title>Reportes</mat-card-title>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-spinner>
  <div fxLayout="row wrap">
    <div
      fxFlex="100"
      fxFlex.gt-sm="25"
      fxFlex.sm="50"
      *ngFor="let template of reports"
    >
      <app-template [id]="template.llaveTabla" [nombre]="template.nombre" [imagen]="template.imagen" type="R"></app-template>
    </div>
  </div>
</mat-card>
<!-- Otras organizaciones -->
<mat-card *ngFor="let company of jwtAuth.otherCompany">
  <mat-card-title>{{ company.nombre }}</mat-card-title>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
    *ngIf="!company.plantillas && company.usuarioSystem"
  ></mat-progress-spinner>
  <div fxLayout="row wrap" *ngIf="company.menuPlantillas">
    <div
      fxFlex.gt-sm="25"
      fxFlex.sm="50"
      fxFlex="100"
      *ngFor="let companyTemplate of company.menuPlantillas"
    >
      <app-template
      [id]="companyTemplate.llaveTabla" [nombre]="companyTemplate.nombre" [imagen]="companyTemplate.imagen" 
        [process_id]="companyTemplate.proceso" type="P" [serverId]="company.llaveTabla"
      ></app-template>
    </div>
  </div>
  <div fxLayout="row wrap" *ngIf="company.reportePlantillas">
    <mat-divider></mat-divider>
    <div
      fxFlex.gt-sm="25"
      fxFlex.sm="50"
      fxFlex="100"
      *ngFor="let companyTemplate of company.reportePlantillas"
    >
    <app-template [id]="companyTemplate.llaveTabla" [nombre]="companyTemplate.nombre" 
      [serverId]="company.llaveTabla" [imagen]="companyTemplate.imagen" type="R"></app-template>
    </div>
  </div>

  <form [formGroup]="signinForm" (ngSubmit)="signin(company)" *ngIf="!company.usuarioSystem">

    <p class="text-small">No hemos logrado validar tu clave de acceso al sistema de {{ company. nombre}}, te agradecemos porfavor ingresar tu nueva clave.</p>

    <mat-form-field class="full-width">
      <input 
        type="password"
        name="password"
        matInput
        [formControl]="signinForm.controls['password']"
        placeholder="Password" 
        autocomplete="new-password"
        value="">
    </mat-form-field>
    <small 
      *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" 
      class="form-error-msg"> Password is required </small>
    <button mat-raised-button class="mat-primary full-width mb-0.5" [disabled]="signinForm.invalid">Sign in</button>
  </form>
</mat-card>

</div>