<!-- Titulo -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row wrap" *ngIf="plantilla"
  fxLayoutAlign=" center">
  <img src="{{ plantilla?.imagen | imageFormat }}" alt="" class="mr-1" />
  <!-- Texto del titulo -->
  <div fxFlex class="items-center">

    <div *ngIf="pedido && pedido.llaveTabla" class="w-full" fxLayout.lt-sm="column">
      <small *ngIf="pedido && pedido.llaveTabla" class="font-semibold">{{
        pedido.estadoNombre
        }}</small>
      <small fxFlex class="text-center"> {{ pedido.funcionarioNombre }}</small>
      <small>{{ pedido.fecha | date: 'medium' }}</small>
    </div>
    <div class="w-full">
      <span fxFlex class="font-semibold">
        <span>{{ plantilla.nombre }}</span>
        <span *ngIf="pedido && pedido.llaveTabla"> - {{ pedido.nombre }}</span>
        <a class="cursor-pointer" *ngIf="pedido && pedido.llaveTabla" (click)="copyName()">
          <mat-icon class="ml-4" inline="true">content_copy</mat-icon>
        </a>
        <a class="cursor-pointer" *ngIf="pedido && pedido.llaveTabla" (click)="showTrace()">
          <mat-icon class="ml-4" inline="true">history</mat-icon>
        </a>
        <span *ngIf="pedido && pedido.historico && pedido.historico !== 0">*</span></span>
      <span *ngIf="instruccionCrear" class="px-1">{{
        instruccionCrear
        }}</span>
    </div>

    <div class="w-full text-right" *ngIf="pedido && pedido.dinero">
      <small *ngIf="pedido.dinero.saldo">{{
        pedido.dinero.saldo | currency
        }}</small>
      <span *ngIf="pedido.dinero.valorTotal">{{
        pedido.dinero.valorTotal | currency
        }}</span>
    </div>
  </div>
  <!-- Botones de accion -->
  <div fxLayout="column" class="items-center">
    <!-- Boton Cerrar -->
    <mat-icon class="h-6" (click)="dialogRef.close(false)">exit_to_app</mat-icon>
    <button mat-icon-button class="h-6" tabindex="-1" [matMenuTriggerFor]="formMenuList">
      <mat-icon class="h-6" >menu</mat-icon>
    </button>
    <mat-menu #formMenuList="matMenu">
      <!-- Boton Cambiar estado -->
      <button mat-menu-item matTooltip="Cambia estado" *ngIf="canChangeState" (click)="showChangeState()" tabindex="-1">
        <mat-icon>swap_horiz</mat-icon>Cambiar estado
      </button>
      <!-- Boton transferir -->
      <button mat-menu-item matTooltip="Transferir" *ngIf="canTransfer" (click)="showTransfer()" tabindex="-1">
        <mat-icon>transfer_within_a_station</mat-icon>Transfer
      </button>
      <!-- Boton carga masiva -->
      <button mat-menu-item matTooltip="Carga Masiva" *ngIf="canMassive" (click)="showMassive()" tabindex="-1">
        <mat-icon>cloud_upload</mat-icon> Carga
      </button>
      <!-- Boton Configuracion producto -->
      <button mat-menu-item matTooltip="Configuracion de producto"
        *ngIf="canProduct && modificable && pedido && pedido.llaveTabla" (click)="showProduct()" tabindex="-1">
        <mat-icon>style</mat-icon> Configurar Catalogo
      </button>
      <!-- Boton Ayuda -->
      <button mat-menu-item (click)="showHelp()">
        <mat-icon>help</mat-icon>
        <span>Ayuda</span>
      </button>
      <!-- Boton Compartir -->
      <button *ngIf="pedido && pedido.llaveTabla" mat-menu-item (click)="copyUrl()">
        <mat-icon>link</mat-icon>
        <span>Copiar link</span>
      </button>
      <!-- Boton Whatsapp -->
      <button mat-menu-item *ngIf="pedido && pedido.llaveTabla" (click)="sendWhatsApp()">
        <mat-icon>share</mat-icon>
        <span>Whatsapp</span>
      </button>
    </mat-menu>
  </div>
</div>
<div *ngIf="!visibleMassive">
  <mat-dialog-content>
    <!-- Cambiar estado del documento -->
    <mat-card class="mt-0 mx-0" *ngIf="isChangeState">
      <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="changeStateIsLoading"></mat-progress-bar>
      <form [formGroup]="changeStateForm" (ngSubmit)="changeState()">
        <div>
          <mat-form-field class="w-full">
            <input matInput name="estadoFinal" [matAutocomplete]="auto"
              [formControl]="changeStateForm.controls['estadoFinal']" placeholder="Nuevo estado" required />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplayChangeState">
              <mat-option *ngFor="let newState of plantilla.estados" [value]="newState">
                <span>{{ newState.nombre }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <textarea name="motivo" class="textarea-form" matInput [formControl]="changeStateForm.controls['motivo']"
              placeholder="Motivo" required></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button class="mat-primary w-full mb-1" [disabled]="changeStateForm.invalid"
          *ngIf="!changeStateIsLoading">
          Cambiar estado
        </button>
      </form>
    </mat-card>
    <!-- Acciones  -->
    <div class="p-1 w-full rounded mt-1" *ngIf="pedido && pedido.llaveTabla" 
      [style.backgroundColor]="getColor()">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <!-- Acciones -->
      <div *ngIf="!isLoading" class="flex flex-wrap p-1 w-full">
        <!-- Botones de transiciones -->
        <a *ngFor="let t of transiciones" (click)="crearPlantilla(t.plantilla)" 
          class="cursor-pointer w-full sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
          <div class="m-1 w-full items-center" [style.color]="getColorFont()">
            <img class="max-h-8" src="{{ t.imagen | imageFormat }}" [matTooltip]="t.nombre" />
            <div class="ml-2 text-sm font-bold" fxFlex>{{ t.nombre }}</div>
          </div>
        </a>
        <!-- Botones de reportes -->
        <a *ngFor="let r of reportes" (click)="showReport(r)" 
          class="cursor-pointer w-full sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6">
          <div class="m-1 w-full items-center"  [style.color]="getColorFont()">
            <div class="flex shrink-0 items-center justify-center h-8 w-8 rounded-full bg-gray-400">
              <mat-icon class="icon-size-5 text-white" svgIcon="print">
              </mat-icon>
            </div>
            <div class="ml-2 text-sm font-bold" fxFlex>{{ r.nombre | slice: 0:30 }}</div>
          </div>
        </a>
        <!-- Boton de historial -->
        <button mat-flat-button class="w-full sm:w-1/3 md:w-1/4 lg:w-1/5 xl:w-1/6" (click)="showTrace()">
          <mat-icon>history</mat-icon> Historial
        </button>
      </div>
    </div>
    <!-- Campos dinamicos -->
    <div class="mt-1">
      <ng-template #dynamycFormElement></ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="modificable" class="pt-0">
    <!-- Boton de guardar -->
    <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
    <div fxFlex *ngIf="!submitted">
      <button mat-raised-button color="primary" class="w-full" (click)="submit()">
        <mat-icon>save</mat-icon> Guardar {{ plantilla.nombre | titlecase }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
<app-massive *ngIf="plantilla && visibleMassive" [plantillaId]="plantilla.llaveTabla" [urlServer]="plantilla.serverUrl"
  (closeForm)="showMassive()"></app-massive>