<!-- Titulo -->
<div
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  fxLayout="row wrap"
  *ngIf="plantilla"
  fxLayoutAlign=" center"
>
  <img src="{{ plantilla?.imagen | imageFormat }}" alt="" />
  <!-- Texto del titulo -->
  <div fxLayout="column" fxFlex fxLayoutAlign="center center">
    <div *ngIf="pedido && pedido.llaveTabla" class="w-full">
      <small fxFlex class="text-muted"> {{ pedido.funcionarioNombre }}</small>
      <small>{{ pedido.fecha | date: 'medium' }}</small>
    </div>
    <div class="w-full">
      <span fxFlex class="formTitle font-weight-bold"
        >{{ plantilla.nombre }}
        <span *ngIf="pedido && pedido.llaveTabla"> - {{ pedido.nombre }}</span>
        <a *ngIf="pedido && pedido.llaveTabla" (click)="copyName()">
          <mat-icon class="ml-4" inline="true">content_copy</mat-icon></a
        >
        <span *ngIf="pedido && pedido.historico && pedido.historico !== 0"
          >*</span
        ></span
      >
      <span *ngIf="instruccionCrear" class="formTitle px16">{{
        instruccionCrear
      }}</span>
      <small *ngIf="pedido && pedido.llaveTabla" class="font-weight-bold">{{
        pedido.estadoNombre
      }}</small>
    </div>

    <div class="w-full" fxLayoutAlign="end" *ngIf="pedido && pedido.dinero">
      <small class="text-muted" *ngIf="pedido.dinero.saldo">{{
        pedido.dinero.saldo | currency
      }}</small>
      <span *ngIf="pedido.dinero.valorTotal">{{
        pedido.dinero.valorTotal | currency
      }}</span>
    </div>
  </div>
  <!-- Botones de accion -->
  <div>
    <button mat-icon-button tabindex="-1" [matMenuTriggerFor]="formMenuList">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #formMenuList="matMenu">
      <!-- Boton Cambiar estado -->
      <button
        mat-menu-item
        matTooltip="Cambia estado"
        *ngIf="canChangeState"
        (click)="showChangeState()"
        tabindex="-1"
      >
        <mat-icon>swap_horiz</mat-icon>Cambiar estado
      </button>
      <!-- Boton transferir -->
      <button
        mat-menu-item
        matTooltip="Transferir"
        *ngIf="canTransfer"
        (click)="showTransfer()"
        tabindex="-1"
      >
        <mat-icon>transfer_within_a_station</mat-icon>Transfer
      </button>
      <!-- Boton carga masiva -->
      <button
        mat-menu-item
        matTooltip="Carga Masiva"
        *ngIf="canMassive"
        (click)="showMassive()"
        tabindex="-1"
      >
        <mat-icon>cloud_upload</mat-icon> Carga
      </button>
      <!-- Boton Configuracion producto -->
      <button
        mat-menu-item
        matTooltip="Configuracion de producto"
        *ngIf="canProduct && modificable && pedido && pedido.llaveTabla"
        (click)="showProduct()"
        tabindex="-1"
      >
        <mat-icon>style</mat-icon> Configurar Catalogo
      </button>
      <!-- Boton Compartir -->
      <button
        *ngIf="pedido && pedido.llaveTabla"
        mat-menu-item
        (click)="copyUrl()"
      >
        <mat-icon>link</mat-icon>
        <span>Copiar link</span>
      </button>
      <!-- Boton Whatsapp -->
      <button
        mat-menu-item
        *ngIf="pedido && pedido.llaveTabla"
        (click)="sendWhatsApp()"
      >
        <mat-icon>share</mat-icon>
        <span>Whatsapp</span>
      </button>
      <a
          *ngFor="let t of transiciones"
          (click)="crearPlantilla(t.plantilla)"
        >
          <div class="border mx-4 mb-4 rounded p-4" fxLayoutAlign="none center">
            <img class="avatar-30 mr-4" src="{{ t.imagen | imageFormat }}" />
            <b class="text-small">{{ t.nombre }}</b >
          </div>
        </a>
    </mat-menu>
    <!-- Boton Cerrar -->
    <button mat-icon-button (click)="dialogRef.close(false)" tabindex="-1">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="!visibleMassive">
  <mat-dialog-content>
    <!-- Transferir documento -->
    <mat-card class="mt-0 mx-0"
    *ngIf="isTransfering">
      <mat-progress-bar
        class="w-full"
        mode="indeterminate"
        *ngIf="transferIsLoading"
      ></mat-progress-bar>
      <form [formGroup]="transferForm" (ngSubmit)="transfer()">
        <div>
          <mat-form-field class="w-full">
            <input
              matInput
              name="responsable"
              [matAutocomplete]="auto"
              [formControl]="transferForm.controls['responsable']"
              placeholder="Asignar a"
              required
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="autoCompleteDisplayTransfer"
            >
              <mat-option *ngFor="let user of users" [value]="user">
                <img
                  class="example-option-img"
                  aria-hidden
                  src="{{ user.imagen | imageFormat }}"
                  height="25"
                />
                <span>{{ user.identificacion }}</span> |
                <small>{{ user.nombre }}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <textarea
              name="comentario"
              class="textarea-form"
              matInput
              [formControl]="transferForm.controls['comentario']"
              placeholder="Comentario"
              required
            ></textarea>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          class="mat-primary w-full mb-1"
          [disabled]="transferForm.invalid"
          *ngIf="!transferIsLoading"
        >
          Reasignar
        </button>
      </form>
    </mat-card>
    <!-- Cambiar estado del documento -->
    <mat-card class="mt-0 mx-0"
    *ngIf="isChangeState">
      <mat-progress-bar
        class="w-full"
        mode="indeterminate"
        *ngIf="changeStateIsLoading"
      ></mat-progress-bar>
      <form [formGroup]="changeStateForm" (ngSubmit)="changeState()">
        <div>
          <mat-form-field class="w-full">
            <input
              matInput
              name="estadoFinal"
              [matAutocomplete]="auto"
              [formControl]="changeStateForm.controls['estadoFinal']"
              placeholder="Nuevo estado"
              required
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="autoCompleteDisplayChangeState"
            >
              <mat-option
                *ngFor="let newState of plantilla.estados"
                [value]="newState"
              >
                <span>{{ newState.nombre }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <textarea
              name="motivo"
              class="textarea-form"
              matInput
              [formControl]="changeStateForm.controls['motivo']"
              placeholder="Motivo"
              required
            ></textarea>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          class="mat-primary w-full mb-1"
          [disabled]="changeStateForm.invalid"
          *ngIf="!changeStateIsLoading"
        >
          Cambiar estado
        </button>
      </form>
    </mat-card>
    <!-- Acciones y trazabilidad -->
    <mat-card class="mt-0 mx-0"
      [style.backgroundColor]="getColor()"
      *ngIf="pedido && pedido.llaveTabla"
    >
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading"
      ></mat-progress-bar>
      <!-- Acciones -->
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!isLoading">
        <!-- Botones de transiciones -->
        <a
          *ngFor="let t of transiciones"
          (click)="crearPlantilla(t.plantilla)"
        >
          <div class="border mx-4 mb-4 rounded p-4" fxLayoutAlign="none center">
            <img class="avatar-30 mr-4"   src="{{ t.imagen | imageFormat }}" [matTooltip]="t.nombre"/>
            <b class="text-small">{{ t.nombre }}</b>
          </div>
        </a>
        <!-- Botones de reportes -->
        <a *ngFor="let r of reportes" (click)="showReport(r)" fxFlex.xs="100">
          <div class="border mx-4 mb-4 rounded p-4" fxLayoutAlign="none center">
            <mat-icon>printer</mat-icon>
            <b class="text-small">{{ r.nombre | slice: 0:30 }}</b>
          </div>
        </a>
        <!-- Boton de historial -->
        <button
          mat-flat-button
          fxFlex.xs="100"
          class="mx-4 mb-4"
          (click)="listar(1)"
          *ngIf="!dataProvider"
        >
          <mat-icon>history</mat-icon> Historial
        </button>
        <!-- Boton cerrar -->
        <button
          mat-flat-button
          fxFlex.xs="100"
          (click)="dataProvider = undefined"
          *ngIf="dataProvider"
        >
          <mat-icon>close</mat-icon> Cerrar historial
        </button>
      </div>
      <!-- trazabilidad -->
      <mat-card-content class="white-bg p-8 rounded mb-0" *ngIf="dataProvider">
        <!-- Filtros de la trazabilidad -->
        <div fxLayout="row wrap">
          <mat-checkbox class="mr-8" [formControl]="fCheckDocuments">
            <span class="text-small">Documentos</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckAssignations">
            <span class="text-small">Asignaciones</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckMessage">
            <span class="text-small">Mensajes</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckInventary">
            <span class="text-small">Inventario</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckAutomaticas">
            <span class="text-small">Automaticas</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckReportes">
            <span class="text-small">Reportes</span>
          </mat-checkbox>
          <mat-checkbox class="mr-8" [formControl]="fCheckApi">
            <span class="text-small">API</span>
          </mat-checkbox>
          <span fxFlex></span>
          <mat-icon (click)="listar(1)" class="cursor-pointer"
            >refresh</mat-icon
          >
        </div>
        <!-- Lista de la trazabilidad -->
        <div class="timeline" *ngFor="let g of dataProvider">
          <div class="timeline-item">
            <!-- Imagen del responsable -->
            <div class="timeline-badge">
              <button
                mat-icon-button
                class="topbar-button-right img-button"
                *ngIf="g.responsableImagen"
              >
                <img [src]="g.responsableImagen" alt="" />
              </button>
            </div>
            <div class="timeline-body">
              <!-- Primera linea:quien y cuando -->
              <div fxLayout="row wrap" fxLayoutAlign="none end">
                <small class="text-small">{{ g.responsable }}</small>
                <span fxFlex></span>
                <small class="text-muted">{{ getDateFormat(g.fecha) }}</small>
              </div>
              <div class="timeline-body-content">
                <!-- Segunda linea: Accion y datos del documento que lo modifico -->
                <div fxLayout="row wrap">
                  <b class="text-small">{{ g.nombre }}</b>
                  <a
                    *ngIf="g.transaccion && !g.campos"
                    (click)="showTraceField2Document(g)"
                  >
                    <mat-icon class="ml-4" inline="true"
                      >view_headline</mat-icon
                    ></a
                  >
                  <span fxFlex></span>
                  <span *ngIf="g.modificadorNombre"
                    >{{ g.plantillaNombre }} - {{ g.modificadorNombre }}</span
                  >
                  <a
                    *ngIf="g.documentoModificador"
                    (click)="
                      showTraceDocument(g.documentoModificador, g.plantilla)
                    "
                  >
                    <mat-icon class="ml-4" inline="true"
                      >open_in_new</mat-icon
                    ></a
                  >
                </div>
                <!-- Tercera linea: Estados y ubicacion -->
                <div
                  fxLayout="row wrap"
                  class="ml-16"
                  *ngIf="g.ubicacionNombre || g.estadoFinal"
                >
                  <small>{{ g.estadoInicial }} - {{ g.estadoFinal }}</small>
                  <span fxFlex></span>
                  <b *ngIf="g.ubicacionNombre"
                    >[ {{ g.ubicacionPlantilla }} ] {{ g.ubicacionNombre }}</b
                  >
                </div>
                <!-- Cuarta linea : comentario -->
                <small class="ml-16" *ngIf="g.comentario">
                  {{ g.comentario }}
                </small>
                <!-- Quinta linea dinero -->
                <div fxLayout="row wrap" class="ml-16">
                  <small *ngIf="g.saldo && g.saldo !== 0">
                    {{ g.saldo | currency }}</small
                  >
                  <span fxFlex></span>
                  <b *ngIf="g.total">{{ g.total | currency }}</b>
                </div>
                <!-- Sexta linea Adjuntos -->
                <div class="ml-16" *ngIf="g.adjunto">
                  <div *ngFor="let iUrl of g.adjunto.split(';;')">
                    <a [href]="iUrl" target="_blank" class="a-hyperlink">{{
                      iUrl
                    }}</a>
                  </div>
                </div>
                <!-- Septima linea Campos nuevos -->
                <div class="ml-16" *ngIf="g.campos">
                  <div *ngFor="let iCampoOriginal of g.campos">
                    <b class="text-small">{{ iCampoOriginal.campo }} :</b
                    ><small> {{ iCampoOriginal.valorText }}</small>
                  </div>
                </div>
                <div class="border-bottom mt-4"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Boton cerrar -->
        <div class="w-full mb-4 mx-8" *ngIf="dataProvider">
          <button
            mat-flat-button
            (click)="listar(pagina)"
            *ngIf="!isEnd"
            fxFlex.xs="100"
          >
            <mat-icon>history</mat-icon> Seguir consultando
          </button>
          <span fxFlex></span>
          <button
            mat-flat-button
            fxFlex.xs="100"
            (click)="dataProvider = undefined"
            *ngIf="dataProvider"
          >
            <mat-icon>close</mat-icon> Cerrar historial
          </button>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- Campos dinamicos -->
    <div>
      <ng-template #dynamycFormElement></ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="modificable" class="pt-0">
    <!-- Boton de guardar -->
    <mat-progress-bar
      class="w-full"
      mode="indeterminate"
      *ngIf="submitted"
    ></mat-progress-bar>
    <div fxFlex *ngIf="!submitted">
      <button
        mat-raised-button
        color="primary"
        class="w-full"
        (click)="submit()"
      >
        <mat-icon>save</mat-icon> Guardar {{ plantilla.nombre | titlecase }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
<app-massive
  *ngIf="plantilla && visibleMassive"
  [plantillaId]="plantilla.llaveTabla"
  [urlServer]="plantilla.serverUrl"
  (closeForm)="showMassive()"
></app-massive>
