<!-- Titulo -->
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row wrap" *ngIf="plantilla"
  fxLayoutAlign=" center">
  <img src="{{ plantilla?.imagen | imageFormat }}" alt="" class="mr-1" />
  <!-- Texto del titulo -->
  <div fxFlex class="items-center">

    <div *ngIf="pedido && pedido.llaveTabla" class="w-full" fxLayout.lt-sm="column">
      <small *ngIf="pedido && pedido.llaveTabla" class="font-semibold">{{
        pedido.estadoNombre
        }}</small>
      <small fxFlex class="text-center"> {{ pedido.funcionarioNombre }}</small>
      <small>{{ pedido.fecha | date: 'medium' }}</small>
    </div>
    <div class="w-full">
      <span fxFlex class="font-semibold">
        <span>{{ plantilla.nombre }}</span>
        <span *ngIf="pedido && pedido.llaveTabla"> - {{ pedido.nombre }}</span>
        <a class="cursor-pointer" *ngIf="pedido && pedido.llaveTabla" (click)="copyName()">
          <mat-icon class="ml-4" inline="true">content_copy</mat-icon></a>
        <span *ngIf="pedido && pedido.historico && pedido.historico !== 0">*</span></span>
      <span *ngIf="instruccionCrear" class="px-1">{{
        instruccionCrear
        }}</span>
    </div>

    <div class="w-full text-right" *ngIf="pedido && pedido.dinero">
      <small *ngIf="pedido.dinero.saldo">{{
        pedido.dinero.saldo | currency
        }}</small>
      <span *ngIf="pedido.dinero.valorTotal">{{
        pedido.dinero.valorTotal | currency
        }}</span>
    </div>
  </div>
  <!-- Botones de accion -->
  <div fxLayout="column" class="items-center">
    <!-- Boton Cerrar -->
    <mat-icon class="h-6" (click)="dialogRef.close(false)">exit_to_app</mat-icon>
    <button mat-icon-button class="h-6" tabindex="-1" [matMenuTriggerFor]="formMenuList">
      <mat-icon class="h-6" >menu</mat-icon>
    </button>
    <mat-menu #formMenuList="matMenu">
      <!-- Boton Cambiar estado -->
      <button mat-menu-item matTooltip="Cambia estado" *ngIf="canChangeState" (click)="showChangeState()" tabindex="-1">
        <mat-icon>swap_horiz</mat-icon>Cambiar estado
      </button>
      <!-- Boton transferir -->
      <button mat-menu-item matTooltip="Transferir" *ngIf="canTransfer" (click)="showTransfer()" tabindex="-1">
        <mat-icon>transfer_within_a_station</mat-icon>Transfer
      </button>
      <!-- Boton carga masiva -->
      <button mat-menu-item matTooltip="Carga Masiva" *ngIf="canMassive" (click)="showMassive()" tabindex="-1">
        <mat-icon>cloud_upload</mat-icon> Carga
      </button>
      <!-- Boton Configuracion producto -->
      <button mat-menu-item matTooltip="Configuracion de producto"
        *ngIf="canProduct && modificable && pedido && pedido.llaveTabla" (click)="showProduct()" tabindex="-1">
        <mat-icon>style</mat-icon> Configurar Catalogo
      </button>
      <!-- Boton Ayuda -->
      <button mat-menu-item (click)="showHelp()">
        <mat-icon>help</mat-icon>
        <span>Ayuda</span>
      </button>
      <!-- Boton Compartir -->
      <button *ngIf="pedido && pedido.llaveTabla" mat-menu-item (click)="copyUrl()">
        <mat-icon>link</mat-icon>
        <span>Copiar link</span>
      </button>
      <!-- Boton Whatsapp -->
      <button mat-menu-item *ngIf="pedido && pedido.llaveTabla" (click)="sendWhatsApp()">
        <mat-icon>share</mat-icon>
        <span>Whatsapp</span>
      </button>
      <a *ngFor="let t of transiciones" (click)="crearPlantilla(t.plantilla)">
        <div class="border rounded items-center">
          <img class="avatar-30 mr-1" src="{{ t.imagen | imageFormat }}" />
          <b class="text-small">{{ t.nombre }}</b>
        </div>
      </a>
    </mat-menu>
  </div>
</div>
<div *ngIf="!visibleMassive">
  <mat-dialog-content>
    <!-- Transferir documento -->
    <mat-card class="mt-0 mx-0" *ngIf="isTransfering">
      <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="transferIsLoading"></mat-progress-bar>
      <form [formGroup]="transferForm" (ngSubmit)="transfer()">
        <div>
          <mat-form-field class="w-full">
            <input matInput name="responsable" [matAutocomplete]="auto"
              [formControl]="transferForm.controls['responsable']" placeholder="Asignar a" required />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplayTransfer">
              <mat-option *ngFor="let user of users" [value]="user">
                <img class="example-option-img" aria-hidden src="{{ user.imagen | imageFormat }}" height="25" />
                <span>{{ user.identificacion }}</span> |
                <small>{{ user.nombre }}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <textarea name="comentario" class="textarea-form" matInput
              [formControl]="transferForm.controls['comentario']" placeholder="Comentario" required></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button class="mat-primary w-full mb-1" [disabled]="transferForm.invalid"
          *ngIf="!transferIsLoading">
          Reasignar
        </button>
      </form>
    </mat-card>
    <!-- Cambiar estado del documento -->
    <mat-card class="mt-0 mx-0" *ngIf="isChangeState">
      <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="changeStateIsLoading"></mat-progress-bar>
      <form [formGroup]="changeStateForm" (ngSubmit)="changeState()">
        <div>
          <mat-form-field class="w-full">
            <input matInput name="estadoFinal" [matAutocomplete]="auto"
              [formControl]="changeStateForm.controls['estadoFinal']" placeholder="Nuevo estado" required />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="autoCompleteDisplayChangeState">
              <mat-option *ngFor="let newState of plantilla.estados" [value]="newState">
                <span>{{ newState.nombre }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="w-full">
            <textarea name="motivo" class="textarea-form" matInput [formControl]="changeStateForm.controls['motivo']"
              placeholder="Motivo" required></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button class="mat-primary w-full mb-1" [disabled]="changeStateForm.invalid"
          *ngIf="!changeStateIsLoading">
          Cambiar estado
        </button>
      </form>
    </mat-card>
    <!-- Acciones  -->
    <div class="p-1 rounded mt-1" *ngIf="pedido && pedido.llaveTabla" [style.backgroundColor]="getColor()">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <!-- Acciones -->
      <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="!isLoading">
        <!-- Botones de transiciones -->
        <a *ngFor="let t of transiciones" (click)="crearPlantilla(t.plantilla)" class="cursor-pointer">
          <div class="p-1 m-1" fxLayoutAlign="none center">
            <img class="max-h-8" src="{{ t.imagen | imageFormat }}" [matTooltip]="t.nombre" />
            <b [style.color]="getColorFont()" class="ml-1">{{ t.nombre }}</b>
          </div>
        </a>
        <!-- Botones de reportes -->
        <a *ngFor="let r of reportes" (click)="showReport(r)" fxFlex.xs="100" class="cursor-pointer">
          <div class="p-1 m-1 " fxLayoutAlign="none center" [style.color]="getColorFont()">
            <div class="flex shrink-0 items-center justify-center h-8 w-8 rounded-full bg-gray-400">
              <mat-icon class="icon-size-5 text-white" svgIcon="print">
              </mat-icon>
            </div>
            <b class="ml-1">{{ r.nombre | slice: 0:30 }}</b>
          </div>
        </a>
        <!-- Boton de historial -->
        <button mat-flat-button fxFlex.xs="100" (click)="listar(1)" *ngIf="!dataProvider">
          <mat-icon>history</mat-icon> Historial
        </button>
        <!-- Boton cerrar -->
        <button mat-flat-button fxFlex.xs="100" (click)="dataProvider = undefined" *ngIf="dataProvider">
          <mat-icon>close</mat-icon> Cerrar historial
        </button>
      </div>
    </div>
    <!-- trazabiidad -->
    <div class="p-2 rounded mb-0" *ngIf="dataProvider">
      <!-- Filtros de la trazabilidad -->
      <div fxLayout="row wrap">
        <mat-checkbox class="mr-8" [formControl]="fCheckDocuments">
          <span class="text-small">Documentos</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckAssignations">
          <span class="text-small">Asignaciones</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckMessage">
          <span class="text-small">Mensajes</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckInventary">
          <span class="text-small">Inventario</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckAutomaticas">
          <span class="text-small">Automaticas</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckReportes">
          <span class="text-small">Reportes</span>
        </mat-checkbox>
        <mat-checkbox class="mr-8" [formControl]="fCheckApi">
          <span class="text-small">API</span>
        </mat-checkbox>
        <span fxFlex></span>
        <mat-icon (click)="listar(1)" class="cursor-pointer">refresh</mat-icon>
      </div>
      <!-- Lista de la trazabilidad -->
      <div>
        <ol>
          <!-- Activities -->
          <ng-container *ngFor="let g of dataProvider">
            <!-- Activity -->
            <li class="relative flex py-1">
              <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600"></div>

              <div class="relative flex flex-auto">
                <!-- Image -->
                <ng-container>

                  <div class="flex shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full bg-gray-400"
                    *ngIf="!g.responsableImagen">
                    <mat-icon class="icon-size-5 text-white" svgIcon="mat_outline:person_pin">
                    </mat-icon>
                  </div>
                  <img class="shrink-0 w-10 h-10 mr-4 rounded-full overflow-hidden object-cover object-center"
                    [src]="g.responsableImagen" [alt]="'Activity image'" *ngIf="g.responsableImagen">


                </ng-container>

                <!-- Content -->
                <div class="flex flex-col flex-auto items-start">

                  <!-- Description -->
                  <ng-container>
                    <!-- Primera linea:quien y cuando -->
                    <div class="w-full" fxLayout="row wrap" fxLayoutAlign="none end">
                      <small>{{ getDateFormat(g.fecha) }}</small>
                      <span fxFlex></span>
                      <small class="text-small">{{ g.responsable }}</small>
                    </div>
                    <!-- Segunda linea: Accion y datos del documento que lo modifico -->
                    <div class="w-full" fxLayout="row wrap">
                      <b class="text-small">{{ g.nombre }}</b>
                      <a *ngIf="g.transaccion && !g.campos" (click)="showTraceField2Document(g)">
                        <mat-icon inline="true">view_headline</mat-icon></a>
                      <span fxFlex></span>
                      
                      <a class="cursor-pointer text-primary font-bold tracking-tight text-sm" *ngIf="g.documentoModificador"
                        (click)="showTraceDocument(g.documentoModificador, g.plantilla)">
                        <span >{{ g.plantillaNombre }} - {{ g.modificadorNombre }}</span>
                      </a>
                    </div>
                    <!-- Tercera linea: Estados y ubicacion -->
                    <div class="w-full" fxLayout="row wrap" *ngIf="g.ubicacionNombre || g.estadoFinal">
                      <small>{{ g.estadoInicial }} - {{ g.estadoFinal }}</small>
                      <span fxFlex></span>
                      <b *ngIf="g.ubicacionNombre">[ {{ g.ubicacionPlantilla }} ] {{ g.ubicacionNombre }}</b>
                    </div>
                    <!-- Cuarta linea : comentario -->
                    <div *ngIf="g.comentario" class="mt-1 py-2 px-2 rounded-lg bg-gray-200 dark:bg-gray-800">
                      <div class="text-sm line-clamp-3">{{g.comentario }}
                      </div>
                    </div>
                    <!-- Quinta linea dinero -->
                    <div class="w-full" fxLayout="row wrap">
                      <small *ngIf="g.saldo && g.saldo !== 0">
                        {{ g.saldo | currency }}</small>
                      <span fxFlex></span>
                      <b *ngIf="g.total">{{ g.total | currency }}</b>
                    </div>
                    <!-- Sexta linea Adjuntos -->
                    <div class="w-full" *ngIf="g.adjunto">
                      <div class="line-clamp-1" *ngFor="let iUrl of g.adjunto.split(';;')">
                        <a [href]="iUrl" target="_blank" class="cursor-pointer text-primary text-xs">
                          {{
                          iUrl
                          }}</a>
                      </div>
                    </div>
                    <!-- Septima linea Campos nuevos -->
                    <div class="w-full" *ngIf="g.campos">
                      <div *ngFor="let iCampoOriginal of g.campos">
                        <b class="text-xs">{{ iCampoOriginal.campo }} :</b><small> {{ iCampoOriginal.valorText
                          }}</small>
                      </div>
                    </div>
                  </ng-container>
                  <!-- Date 
                            <div class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                <!-- Date 
                                <div class="text-secondary">
                                    {{activity.date | date:'MMM dd, h:mm a'}}
                                </div>
                                <!-- Linked content 
                                <ng-container *ngIf="activity.linkedContent">
                                    <div class="hidden sm:block">&bull;</div>
                                    <!-- Internal link 
                                    <ng-container *ngIf="activity.useRouter">
                                        <a
                                            class="cursor-pointer text-primary"
                                            [routerLink]="activity.link">
                                            {{activity.linkedContent}}
                                        </a>
                                    </ng-container>
                                    <!-- External link 
                                    <ng-container *ngIf="!activity.useRouter">
                                        <a
                                            class="cursor-pointer text-primary"
                                            [href]="activity.link"
                                            target="_blank">
                                            {{activity.linkedContent}}
                                        </a>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <!-- Extra content 
                            <ng-container *ngIf="activity.extraContent">
                                <div
                                    class="mt-4 py-4 px-5 rounded-lg bg-gray-200 dark:bg-gray-800"
                                    [innerHTML]="activity.extraContent"></div>
                            </ng-container>
                            <div class="timeline-body-content">
                              
                              
                             
                              <div class="border-bottom mt-4"></div>
                            </div>-->
                </div>
              </div>
            </li>
          </ng-container>
        </ol>
      </div>
      <!-- Boton cerrar -->
      <div class="w-full mb-4 mx-8" *ngIf="dataProvider">
        <button mat-flat-button (click)="listar(pagina)" *ngIf="!isEnd" fxFlex.xs="100">
          <mat-icon>history</mat-icon> Seguir consultando
        </button>
        <span fxFlex></span>
        <button mat-flat-button fxFlex.xs="100" (click)="dataProvider = undefined" *ngIf="dataProvider">
          <mat-icon>close</mat-icon> Cerrar historial
        </button>
      </div>
    </div>

    <!-- Campos dinamicos -->
    <div class="mt-1">
      <ng-template #dynamycFormElement></ng-template>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions *ngIf="modificable" class="pt-0">
    <!-- Boton de guardar -->
    <mat-progress-bar class="w-full" mode="indeterminate" *ngIf="submitted"></mat-progress-bar>
    <div fxFlex *ngIf="!submitted">
      <button mat-raised-button color="primary" class="w-full" (click)="submit()">
        <mat-icon>save</mat-icon> Guardar {{ plantilla.nombre | titlecase }}
      </button>
    </div>
  </mat-dialog-actions>
</div>
<app-massive *ngIf="plantilla && visibleMassive" [plantillaId]="plantilla.llaveTabla" [urlServer]="plantilla.serverUrl"
  (closeForm)="showMassive()"></app-massive>