<div class="search-bar-wide" [ngClass]="{ open: isOpen }">
  <button
    mat-icon-button
    class="search-icon-btn ml-05 mr-05"
    (click)="open()"
    *ngIf="!isOpen"
  >
    <mat-icon>search</mat-icon>
  </button>
  <div>
    <input
      id="txt"
      [matAutocomplete]="auto"
      [formControl]="searchCtrl"
      class="default-bg"
      type="text"
      placeholder="Presiona Enter para buscar"
      (keyUp.enter)="search()"
    />
    <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading"
      ></mat-progress-bar>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="autoCompleteDisplay"
    >
      <mat-option
        *ngFor="let document of disponibles"
        [value]="document"
      >
        <img
          class="example-option-img"
          aria-hidden
          [src]="document.imagen"
          height="25"
        />
        <span>{{ document.nombre }}</span> |
        <small>{{ document.descripcion }}</small>
      </mat-option>
    </mat-autocomplete>
  </div>
  <mat-icon class="search-search text-muted" (click)="search()">search</mat-icon>
  <mat-icon class="search-close text-muted" (click)="close()">close</mat-icon>
</div>
